{% assign count = 0 %}
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% if post.url != page.url %}
      {% if page.tags contains tag %}
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if count > 0 %}
<div class="related-articles">
<div class="separator separator-left">Related Articles</div>
<ul>
{% assign maxRel = 5 %}
{% assign minTags =  1 %}
{% assign maxRelCounter = 0 %}
{% for post in site.posts %}
  {% assign sameTagCount = 0 %}
  {% assign commonTags = '' %}
  {% for tag in post.tags %}
    {% if post.url != page.url %}
      {% if page.tags contains tag %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
        {% assign commonTags = commonTags | append: tagmarkup %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if sameTagCount >= minTags %}
  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% assign maxRelCounter = maxRelCounter | plus: 1 %}
    {% if maxRelCounter >= maxRel %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
</div>
{% endif %}
