.banderole,
.banderole-angle {
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  h1,
  h2,
  h3 {
    padding-top: 0;
    margin-top: 0;
  }
  a {
    color: $link-blue;
  }
  a:hover,
  a:active,
  a:focus {
    color: $link-hover;
  }
  .tags > li {
    background: none;
    border: 1px solid rgba($white, 0.4);
    color: $white;
    font-size: 15px;
  }
}

.banderole {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0;
}

.banderole-angle {
  background: linear-gradient(177deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 2.7vw,
    rgba(0, 0, 0, 0.85) 2.8vw,
    rgba(0, 0, 0, 0.85) 100%);
  padding: 3vw 0 0 0;
}

@media screen and (max-width: 960px) {
  .banderole-angle {
    background: linear-gradient(177deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 5.1vw,
      rgba(0, 0, 0, 0.85) 5.2vw,
      rgba(0, 0, 0, 0.85) 100%);
    padding: 5vw 0 0 0;
  }
}

@media screen and (max-width: 640px) {
  .banderole {
  }
}
