.banderole {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  padding: calc(3vw + 1rem) 1rem 1rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(177deg,
    transparent 2.7vw,
    rgba(0, 0, 0, 0.8) calc(2.7vw + 1px),
    rgba(0, 0, 0, 0.8) 100%);

  h1,
  h2,
  h3 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    padding-top: 0;
    margin-top: 0;
  }

  a {
    color: rgba(255, 255, 255, 0.9);
  }

  a:hover,
  a:active,
  a:focus {
    color: $light-blue;
  }

  .tags > li {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
  }
}

@media screen and (max-width: 960px) {
  .banderole {
    background: linear-gradient(177deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 5.1vw,
      rgba(0, 0, 0, 0.85) 5.2vw,
      rgba(0, 0, 0, 0.85) 100%);
    padding: calc(5vw + 1rem) 1rem 1rem 1rem;
  }
}

@media screen and (max-width: 640px) {

}

@media print {
  .banderole {
    position: static;
    height: auto;
    background: none !important;

    h3:not(.post-author) {
      display: none;
    }

    h3.post-author {
      font-family: 'Merriweather', serif;
      font-size: 0.9em;
      color: $darker-grey;
    }
  }
}
