// Round Buttons

ul.icons {
  list-style-type: none;
  padding: 0;

  > li {
    margin: 0;
    padding: 0 !important;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    a {
      font-size: 1.35rem;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: none;
      transition:
        all 0.2s ease-in-out,
        transform 50ms ease;

      &:active {
        transform: scale(0.97);
      }

      span {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  ul.icons > li a {
    font-size: 1.125rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

// Standard Buttons

.btn {
  display: inline-block;
  padding: 0.4rem 0.75rem 0.5rem;
  margin-bottom: 0.25rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: $white-t90 !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  user-select: none;
  background: linear-gradient(
    $darker-grey 0%,
    darken($darker-grey, 3%) 95%,
    lighten($darker-grey, 5%) 100%);
  transition:
    all 0.2s ease,
    transform 0ms ease;

  &:hover {
    color: white !important;
  }

  &:active {
    transform: scale(0.97);
  }

  &_green {
    background: linear-gradient(
      $green 0%,
      darken($green, 3%) 95%,
      lighten($green, 5%) 100%);

    &:hover {
      background: linear-gradient(
        lighten($green, 10%) 0%,
        lighten($green, 7%) 95%,
        lighten($green, 15%) 100%);
    }
  }

  &_blue{
    background: linear-gradient(
      $blue 0%,
      darken($blue, 3%) 95%,
      lighten($blue, 5%) 100%);

    &:hover {
      background: linear-gradient(
        lighten($blue, 10%) 0%,
        lighten($blue, 7%) 95%,
        lighten($blue, 15%) 100%);
    }
  }

  &_red {
    background: linear-gradient(
      $red 0%,
      darken($red, 3%) 95%,
      lighten($red, 5%) 100%);

    &:hover {
      background: linear-gradient(
        lighten($red, 10%) 0%,
        lighten($red, 7%) 95%,
        lighten($red, 15%) 100%);
    }
  }

  &_grey {
    background: linear-gradient(
      $darker-grey 0%,
      darken($darker-grey, 3%) 95%,
      lighten($darker-grey, 5%) 100%);

    &:hover {
      background: linear-gradient(
        lighten($darker-grey, 10%) 0%,
        lighten($darker-grey, 7%) 95%,
        lighten($darker-grey, 15%) 100%);
    }
  }
}

// Social Buttons

a.pdf {
  background-color: #ee151f !important;
  color: white !important;

  &:hover {
    background-color: lighten(#ee151f, 15%) !important;
  }
}

a.facebook {
  background-color: #3b5998 !important;
  color: white !important;

  &:hover {
    background-color: lighten(#3b5998, 15%) !important;
  }
}

a.twitter {
  background-color: #1da1f2 !important;
  color: white !important;

  &:hover {
    background-color: lighten(#1da1f2, 15%) !important;
  }
}

a.print {
  background-color: #5a5a5a !important;
  color: white !important;

  &:hover {
    background-color: lighten(#5a5a5a, 15%) !important;
  }
}

a.xing {
  background-color: #007575 !important;
  color: white !important;

  &:hover {
    background-color: lighten(#007575, 15%) !important;
  }
}

a.github {
  background-color: #24292e !important;
  color: white !important;

  &:hover {
    background-color: lighten(#24292e, 15%) !important;
  }
}

a.medium {
  background-color: black !important;
  color: white !important;

  &:hover {
    background-color: lighten(black, 15%) !important;
  }
}

a.mastodon {
  background-color: #3088d4 !important;
  color: white !important;

  &:hover {
    background-color: lighten(#3088d4, 15%) !important;
  }
}

a.keybase {
  background-color: #33a0ff !important;
  color: white !important;

  &:hover {
    background-color: lighten(#33a0ff, 15%) !important;
  }
}
