/*
  Icons
*/

ul.icons {
  list-style-type: none;
  padding: 0;

  > li {
    margin: 0;
    padding: 0 !important;
    display: inline-block;

    &:not(:last-child) {
      margin-right: .5rem;
    }

    a {
      font-size: 1.6rem;
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      transition:
        all 0.2s ease-in-out,
        transform 50ms ease;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      border: none;

      &:active {
        transform: scale(0.97);
      }

      span {
        padding-left: 0.5rem;
        display: none;
      }
    }

    a.pdf {
      background-color: #ee151f !important;
      color: white !important;

      &:hover {
        background-color: lighten(#ee151f, 10%) !important;
      }
    }

    a.facebook {
      background-color: #3b5998 !important;
      color: white !important;

      &:hover {
        background-color: lighten(#3b5998, 10%) !important;
      }
    }

    a.twitter {
      background-color: #1da1f2 !important;
      color: white !important;

      &:hover {
        background-color: lighten(#1da1f2, 10%) !important;
      }
    }

    a.print {
      background-color: #5a5a5a !important;
      color: white !important;

      &:hover {
        background-color: lighten(#5a5a5a, 10%) !important;
      }
    }

    a.xing {
      background-color: #007575 !important;
      color: white !important;

      &:hover {
        background-color: lighten(#007575, 10%) !important;
      }
    }

    a.github {
      background-color: #24292e !important;
      color: white !important;

      &:hover {
        background-color: lighten(#24292e, 10%) !important;
      }

    }

    a.medium {
      background-color: black !important;
      color: white !important;

      &:hover {
        background-color: lighten(black, 10%) !important;
      }
    }

    a.mastodon {
      background-color: #3088d4 !important;
      color: white !important;

      &:hover {
        background-color: lighten(#3088d4, 10%) !important;
      }
    }

    a.keybase {
      background-color: #33a0ff !important;
      color: white !important;

      &:hover {
        background-color: lighten(#33a0ff, 10%) !important;
      }
    }

  }
}

@media screen and (max-width: 640px) {
  ul.icons > li a {
    font-size: 1.8em;
    padding: 0.2em 0.3em;
  }
}



// Buttons
.btn {
  display: inline-block;
  padding: 0.4rem 0.75rem 0.5rem;
  margin-bottom: 0.25rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: $white-t90 !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  user-select: none;
  background: linear-gradient(
    $darker-grey 0%,
    darken($darker-grey, 3%) 95%,
    lighten($darker-grey, 5%) 100%);
  transition:
    all 0.2s ease,
    transform 0ms ease;

  &:hover {
    color: white !important;
  }

  &:active {
    transform: scale(0.97);
  }

  &_green {
    background: linear-gradient(
      $green 0%,
      darken($green, 3%) 95%,
      lighten($green, 5%) 100%);

    &:hover {
      background: linear-gradient(
        lighten($green, 10%) 0%,
        lighten($green, 7%) 95%,
        lighten($green, 15%) 100%);
    }
  }

  &_blue{
    background: linear-gradient(
      $blue 0%,
      darken($blue, 3%) 95%,
      lighten($blue, 5%) 100%);

    &:hover {
      background: linear-gradient(
        lighten($blue, 10%) 0%,
        lighten($blue, 7%) 95%,
        lighten($blue, 15%) 100%);
    }
  }

  &_red {
    background: linear-gradient(
      $red 0%,
      darken($red, 3%) 95%,
      lighten($red, 5%) 100%);

    &:hover {
      background: linear-gradient(
        lighten($red, 10%) 0%,
        lighten($red, 7%) 95%,
        lighten($red, 15%) 100%);
    }
  }

  &_grey {
    background: linear-gradient(
      $darker-grey 0%,
      darken($darker-grey, 3%) 95%,
      lighten($darker-grey, 5%) 100%);

    &:hover {
      background: linear-gradient(
        lighten($darker-grey, 10%) 0%,
        lighten($darker-grey, 7%) 95%,
        lighten($darker-grey, 15%) 100%);
    }
  }
}

.btn-social {


  > .span {
    display: none !important;
  }
}

// btn_facebook {
//   background-color: #3b5998;
//   color: $white !important;
//   &:hover {
//     background-color: mix($white, #3b5998, 25%);
//     border-color: mix($white, #3b5998, 25%);
//   }
// }
//
// btn_twitter {
//   background-color: #55acee;
//   color: $white !important;
//   &:hover {
//     background-color: mix($white, #55acee, 25%);
//     border-color: mix($white, #55acee, 25%);
//   }
// }

a.btn {
  text-decoration: none;
  color: lighten($black, 30%);
}
