/* Overlay to greyout page when opening side navigation */
.sideoverlay {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 9; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: transparent; /* transparent */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: background-color 0.5s; /* 0.5 second transition effect */
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 3px 0 15px 0 rgba(0, 0, 0, 0.5);
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Active Navigation Entry */
.sidenav a.active {
  background-color: $dark-grey;
  color: #f1f1f1;
  cursor: default;
  pointer-events: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Fancy Breadcrumb */
#breadcrumb {
  float: left;
  display: inline-block; /* The menu will have width as needed, not 100% */
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1em;
  overflow: hidden; /* Hide everything that overflows, like shadows */
  transition: 0.2s;
}

/* Icons */
#breadcrumb i {
  transform: scale(1.4);
}

/* Breadcrumb Elements */
#breadcrumb ul {
    display: flex; /* A key part of our menu, displays items side by side, and allows reversing them */
    flex-direction: row-reverse; /* Reverse the items */
    list-style: none;
    margin: 0;
    padding: 0;
}

#breadcrumb ul li {
    margin: 0;
}

/* Menu items */
#breadcrumb ul li a {
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    padding: 12px 30px 12px 45px; /* Adjusting padding to get the proper space */
    margin-left: -20px; /* Pull the items to the left, so the rounded right side will get over them */
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0 100px 100px 0; /* Get the right side rounded */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Apply the shadow */
    background-color: $dark-grey;
    background: linear-gradient(
      $dark-grey 0%,
      $dark-grey 95%,
      lighten($dark-grey, 5%) 100%);
    &:hover {
      background-color: lighten($dark-grey, 10%);
      background: linear-gradient(
        lighten($dark-grey, 10%) 0%,
        lighten($dark-grey, 10%) 95%,
        lighten($dark-grey, 15%) 100%);
    }
}

/* Menu Icon */
#breadcrumb ul li.menu-button a {
    padding: 12px 30px 12px 30px;
    margin-left: 0px;
    border-radius: 0px 100px 100px 0px; /* Get the right side rounded */
}

/* Remove the shadow for first item, last in the right side when it gets reversed */
#breadcrumb ul li:first-child a {
    box-shadow: none;
}

/* Active item is a bit different */
#breadcrumb ul li.active a {
    pointer-events: none;
    cursor: default;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    background: linear-gradient(
      darken(rgba(0, 0, 0, 0.8), 5%) 0%,
      rgba(0, 0, 0, 0.8) 5%,
      rgba(0, 0, 0, 0.8) 95%,
      lighten(rgba(0, 0, 0, 0.8), 5%) 100%);
}

/* Remove the shadow for the active's next item, to match the design more accurately */
#breadcrumb ul li.active + li a {
    box-shadow: none;
}
