body {
  counter-reset: h2
}

h2.enum {
  counter-reset: h3
}

h3.enum {
  counter-reset: h4
}

h2.enum:before {
  counter-increment: h2;
  content: counter(h2) ". "
}

h3.enum:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". "
}

h4.enum:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ". "
}

.projects-menu-icon {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 30px;
  width: 15px;
  height: 15px;
  border: 2px solid $gray;
  border-radius: 3px;
  cursor: pointer;
  z-index: 3;
  &:before {
    content: '';
    position: absolute;
    left: -19px;
    top: -2px;
    width: 15px;
    height: 15px;
    border: 2px solid $gray;
    border-radius: 3px;
  }
  span {
    position: absolute;
    top: 15px;
    right: -2px;
    width: 15px;
    height: 15px;
    border: 2px solid $gray;
    border-radius: 3px;
    &:before {
      content: '';
      position: absolute;
      left: -19px;
      top: -2px;
      width: 15px;
      height: 15px;
      border: 2px solid $gray;
      border-radius: 3px;
    }
  }
  &:hover {
    border-color: $darker-grey;
    &:before {
      border-color: $darker-grey;
    }
    span {
      border-color: $darker-grey;
      &:before {
        border-color: $darker-grey;
      }
    }
  }
  &.active {
    position: fixed;
  }
}

.posts-menu-icon {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 90px;
  width: 20px;
  height: 25px;
  border: 2px solid $gray;
  background: $white;
  &:before {
    content: '';
    width: 20px;
    height: 25px;
    position: absolute;
    right: 2px;
    border: 2px solid $gray;
    top: 2px;
    background: $white;
  }
  &:after {
    content: '';
    width: 20px;
    height: 25px;
    border: 2px solid $gray;
    position: absolute;
    right: 6px;
    top: 6px;
    background: $white;
  }
  &:hover {
    border-color: $darker-grey;
    &:before,
    &:after {
      border-color: $darker-grey;
    }
  }
}

.posts-link,
.projects-link {
  position: absolute;
  top: 73px;
  font-size: 12px;
  color: darken($white, 40);
}

.posts-link {
  right: 90px;
}

.projects-link {
  right: 20px;
}

.overlay {
  position: fixed;
  background: $darker-grey;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  overflow-y: auto;
  &.show {
    display: block;
  }
}

.projects-menu-container {

}

.projects-menu {
  font-size: 0;
  height: 100%;
  > li {
    display: inline-block;
    width: calc(100%/3);
    height: 50%;
    position: relative;
    vertical-align: top;
    float: left;
    background-size: cover !important;
    &:nth-child(8n+1),
    &:nth-child(8n+2) {
      width: 50%;
      height: 70%;
    }
    &:nth-child(8n+6) {
      width: calc(100%/3 + 100%/3);
      height: 100%;
    }
    a {
      border: 30px solid transparent;
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: background 0.2s linear;
      &:hover:after,
      &:hover:before {
        transform: scale(1);
        transition: all 1s;
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: $white;
        padding-right: 10px;
        white-space: nowrap;
        text-align: center;
        strong {
          color: rgba($white, 0.7);
        }
        em {
          font-size: 20px;
          line-height: 33px;
          color: darken($white, 40%);
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        border-top: 1px solid rgba($white, 0.3);
        border-bottom: 1px solid rgba($white, 0.3);
        display: block;
        height: 100%;
        width: 100%;
        transform: scale(0, 1);
        transition: all 0.5s;
      }
      &:before {
        content: "";
        border-right: 1px solid rgba($white, 0.3);
        border-left: 1px solid rgba($white, 0.3);
        display: block;
        height: 100%;
        transform: scale(1, 0);
        transition: all 0.5s;
      }
    }
  }
}

/* Create columns in post title sections */
.columns {
  display: flex;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    flex: 50%;
    padding: 1.1em;
  }
}

/* Post groups aggregate posts */
.section {
  display: none;
  &:target {
    display: block;
  }
}

/* Post group title */
.section-title {
  font-size: 2.2em;
  padding-bottom: 0.3em;
  color: lighten($darker-grey, 10%);
}

/* Create Post Preview */
.section-content {
  column-count: 2;
  column-gap: 20px;
  column-rule-style: none;
  margin-top: 25px;
  margin-bottom: 15px;
}

.logo {
  max-width: 150px;
  display: inline-block;
  height: auto;
  background-size: 100%;
  margin: 0 auto;
  position: relative;
  font: 0/0 verdana;
  color: transparent;
  text-shadow: none;
}

/* Light Weight Text */
p.light {
  color: darken($white, 60);
  b,
  strong,
  code {
    color: $darker-grey !important;
    background: none;
  }
}

#project {
  .block-right {
    display: block;
    .content {
      height: auto;
      display: block;
      max-width: 800px;
    }
  }
}

.tags {
  margin-top: 20px;
  > li {
    display: inline-block;
    background: darken($white, 5%);
    padding: 7px 10px;
    color: lighten($black, 28%);
    font-size: 11px;
    text-transform: uppercase;
    > a {
      color: $white;
    }
  }
}

.social-btn {
  width: 2em;
}

.share-buttons {
  position: absolute;
  top: 32px;
  left: 40px;
  > .btn {
    margin-bottom: 0;
  }
}

/* Adjustments for smaller screens */
@media screen and (max-width: 960px) {
  .projects-menu li {
    width: 50% !important;
    height: 50% !important;
    float: left;
  }
  .share-buttons span {
    display: none;
  }
}

/* Adjustments for small screens */
@media screen and (max-width: 640px) {
  .posts-list {
    margin-top: 80px;
    > li {
      .title {
        max-width: 100%;
      }
      h2 {
        font-size: 20px;
      }
      .date {
        float: left;
        display: block;
        width: 100%;
        padding-bottom: 10px;
      }
    }
  }
  .inner-post {
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    p,
    li {
      font-size: 16px;
      line-height: 24px;
    }
    ul > li {
      margin-bottom: 10px;
    }
  }

  .projects-menu li {
    width: 100% !important;
    height: 50% !important;
  }
  .content {
    padding: 20px
  }
}
