.block-left {
  height: 100%;
  float: left;
  z-index: 1; // let drop shadow stay on top
  box-shadow: 5px 0px 13px -6px rgba(0, 0, 0, 0.6);
  .content {
    z-index: 1;
    position: relative;
  }
}

.block-right {
  float: right;
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0.08) 100%);
}

.block-left,
.block-right {
  width: 50%;
  position: relative;
  display: table;
  > div {
    display: table-cell;
    vertical-align: middle;
  }
  .content {
    height: 100%;
  }
}

.inactive {
  pointer-events: none;
  pointer: default;
}

.content {
  padding: 60px;
  max-width: 600px;
  margin: 0 auto;
}

.projects-menu-icon {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 30px;
  width: 15px;
  height: 15px;
  border: 2px solid $gray;
  border-radius: 3px;
  cursor: pointer;
  z-index: 3;
  &:before {
    content: '';
    position: absolute;
    left: -19px;
    top: -2px;
    width: 15px;
    height: 15px;
    border: 2px solid $gray;
    border-radius: 3px;
  }
  span {
    position: absolute;
    top: 15px;
    right: -2px;
    width: 15px;
    height: 15px;
    border: 2px solid $gray;
    border-radius: 3px;
    &:before {
      content: '';
      position: absolute;
      left: -19px;
      top: -2px;
      width: 15px;
      height: 15px;
      border: 2px solid $gray;
      border-radius: 3px;
    }
  }
  &:hover {
    border-color: $dark-grey;
    &:before {
      border-color: $dark-grey;
    }
    span {
      border-color: $dark-grey;
      &:before {
        border-color: $dark-grey;
      }
    }
  }
  &.active {
    position: fixed;
  }
}

.posts-menu-icon {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 90px;
  width: 20px;
  height: 25px;
  border: 2px solid $gray;
  background: $white;
  &:before {
    content: '';
    width: 20px;
    height: 25px;
    position: absolute;
    right: 2px;
    border: 2px solid $gray;
    top: 2px;
    background: $white;
  }
  &:after {
    content: '';
    width: 20px;
    height: 25px;
    border: 2px solid $gray;
    position: absolute;
    right: 6px;
    top: 6px;
    background: $white;
  }
  &:hover {
    border-color: $dark-grey;
    &:before,
    &:after {
      border-color: $dark-grey;
    }
  }
}

.posts-link,
.projects-link {
  position: absolute;
  top: 73px;
  font-size: 12px;
  color: darken($white, 40);
}

.posts-link {
  right: 90px;
}

.projects-link {
  right: 20px;
}

.overlay {
  position: fixed;
  background: $overlay-color;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  overflow-y: auto;
  &.show {
    display: block;
  }
}

.projects-menu {
  font-size: 0;
  height: 100%;
  > li {
    display: inline-block;
    width: calc(100%/3);
    height: 50%;
    position: relative;
    vertical-align: top;
    float: left;
    background-size: cover !important;
    &:nth-child(8n+1),
    &:nth-child(8n+2) {
      width: 50%;
      height: 70%;
    }
    &:nth-child(8n+6) {
      width: calc(100%/3 + 100%/3);
      height: 100%;
    }
    a {
      border: 30px solid transparent;
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: background 0.2s linear;
      &:hover:after,
      &:hover:before {
        transform: scale(1);
        transition: all 1s;
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: $white;
        padding-right: 10px;
        white-space: nowrap;
        text-align: center;
        strong {
          color: rgba($white, 0.7);
        }
        em {
          font-size: 20px;
          line-height: 33px;
          color: darken($white, 40%);
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        border-top: 1px solid rgba($white, 0.3);
        border-bottom: 1px solid rgba($white, 0.3);
        display: block;
        height: 100%;
        width: 100%;
        transform: scale(0, 1);
        transition: all 0.5s;
      }
      &:before {
        content: "";
        border-right: 1px solid rgba($white, 0.3);
        border-left: 1px solid rgba($white, 0.3);
        display: block;
        height: 100%;
        transform: scale(1, 0);
        transition: all 0.5s;
      }
    }
  }
}









/* Create columns in post title sections */
.columns {
  display: flex;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    flex: 50%;
    padding: 1.1em;
  }
}

/* Post groups aggregate posts */
.post-group {
  display: none;
  &:target {
    display: block;
  }
}

/* Post group title */
.post-group-title {
  padding-bottom: 0.5em;
  font-weight: bold;
  color: #444;
}

/* Create Post Preview */
.post-group-content {
  column-count: 2;
  column-gap: 20px;
  column-rule-style: none;
  margin-top: 25px;
  margin-bottom: 15px;
  .post-preview {
    page-break-inside: avoid;
    break-inside: avoid;
    padding-bottom: 10px;
  }
  .post-preview-header {
    font-size: 0.8em;
    text-transform: uppercase;
  }
  .post-preview-content {
    box-sizing: border-box;
    height: 160px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s;
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
    &:active {
      transform: scale(0.98);
    }
  }
  .post-preview-text,
  .green-post-preview-text,
  .blue-post-preview-text,
  .red-post-preview-text,
  .grey-post-preview-text {
    padding: 0.5em 0.4em 0.7em 0.4em;
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: white;
    line-height: 1.5;
    text-align: center;
    background-color: $light-grey;
    border-radius: 0 0 2px 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 0.2s ease-in-out;
    border-top: 1px solid transparent;
    background-color: transparentize(black, 0.2);
  }

  a:hover {
    .post-preview-content {
      box-shadow:
        0 3px 6px rgba(0,0,0,0.16),
        0 3px 6px rgba(0,0,0,0.23);
      &:active {
        box-shadow:
          0 2px 4px rgba(0,0,0,0.23),
          0 2px 4px rgba(0,0,0,0.46);
      }
    }
    .post-preview-text{
      background-color: mix($light-grey, $blue, 80%);
      color: darken($btn-text-grey, 20%);
    }
    .green-post-preview-text {
      background-color: lighten($green, 5%);
      border-top: 1px solid lighten($green, 10%);
    }

    .blue-post-preview-text {
      background-color: lighten($blue, 5%);
      border-top: 1px solid lighten($blue, 10%);
    }

    .red-post-preview-text {
      background-color: lighten($red, 5%);
      border-top: 1px solid lighten($red, 10%);
    }

    .grey-post-preview-text {
      background-color: lighten($dark-grey, 5%);
      border-top: 1px solid lighten($dark-grey, 10%);
    }
  }
}

/* Ribbons */

.ribbon-box {
  margin: 10px auto;
  position: relative;
  z-index: 1;
}
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  .ribbon,
  .blue-ribbon,
  .green-ribbon,
  .red-ribbon,
  .grey_ribbon {
    font: bold 0.7em sans-serif;
    color: #333;
    text-align: center;
    transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 15px;
    left: -30px;
    width: 120px;
  }
  .blue-ribbon {
    background-color: $blue;
    color: white;
  }
  .green-ribbon {
    background-color: $green;
    color: white;
  }
  .red-ribbon {
    background-color: $red;
    color: white;
  }
  .grey-ribbon {
    background-color: $dark-grey;
    color: white;
  }
}

.logo {
  max-width: 150px;
  display: inline-block;
  height: auto;
  background-size: 100%;
  margin: 0 auto;
  position: relative;
  font: 0/0 verdana;
  color: transparent;
  text-shadow: none;
}

/* Light Weight Text */
p.light {
  color: darken($white, 60);
  b,
  strong,
  code {
    color: $dark-grey !important;
    background: none;
  }
}

.main-info,
.about-info {
  text-align: center;
  max-width: 26em;
  width: 100%;
  margin: 0 auto;
  h1,
  h2,
  h3 {
    font-size: 2em;
    position: relative;
    margin-top: 0;
  }
  p {
    font-size: 21px;
    line-height: 30px;
    margin: 10px 0;
    padding-top: 25px;
  }
  ul {
    font-size: 0.9em;
    margin-top: 30px;
    overflow: hidden;
    li {
      display: inline-block;
      background: rgba(20, 20, 20, 0.5);
      border: 1px solid transparent;
      border-radius: 5px;
      vertical-align: middle;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $green;
        border: 1px solid lighten($green, 5%);
      }
      &:nth-child(odd) {
        background: rgba(80, 80, 80, 0.5);
        border: 1px solid transparent;
        &:hover {
          background-color: $blue;
          border: 1px solid lighten($blue, 5%);
        }
      }
      a {
        display: inline-block;
        font-size: 1.3em;
        padding: 0.3em 0.35em;
        color: $white;
      }
    }
  }
}

.main-info {
  color: $white;
  h1,
  h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h1.underline {
    &:after {
      content: "";
      width: 100px;
      height: 2px;
      background: #585b63;
      bottom: -20px;
      position: absolute;
      left: 50%;
      -webkit-transform: translatex(-50%);
      -moz-transform: translatex(-50%);
      -ms-transform: translatex(-50%);
      -o-transform: translatex(-50%);
      transform: translatex(-50%);
    }
  }

  h3 {
    font-size: 21px;
    line-height: 30px;
    margin: 10px 0;
    padding-top: 25px;
    &:after {
      display: none;
    }
  }
}

.about-info {
  text-align: left;
  h1,
  h2,
  h3 {
    font-size: 35px;
    color: $black;
  }
  p {
    color: lighten($black, 45);
    font-size: 16px;
    margin: 10px 0;
    padding-top: 0;
    line-height: 24px;
    &:first-of-type {
      padding-top: 35px;
    }
  }
}

#project {
  .block-right {
    display: block;
    .content {
      height: auto;
      display: block;
      max-width: 800px;
    }
  }
}

#posts {
  .block-right {
    display: block;
    .content {
      height: auto;
      display: block;
      max-width: 800px;
    }
  }
  .logo {
    top: 20px;
    left: 20px;
    position: absolute;
    img {
      width: 50px;
      height: auto;
    }
    &:after {
      display: none;
    }
  }
}

.section-title {
  font-size: 100px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: rgba($white, 0.6);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  em {
    font-style: italic;
  }
  span {
    font-size: 20px;
  }
}

.posts-list, .posts-list-tight {
  > li {
    list-style: none;
    border-radius: 2px;
    h2 {
      font-size: 30px;
      margin-bottom: 15px;
    }
    p {
      color: darken($white, 40);
    }
    .date {
      color: black;
      border-radius: 2px;
      float: right;
      display: inline-block;
      font-size: 0.8em;
      font-weight: 400;
      padding: 0.5em 0.75em;
      text-transform: uppercase;
    }
    .post-title {
      color: $dark-grey;
      display: inline-block;
      max-width: 75%;
    }
  }
  > li:nth-child( odd ) {
    background-color: #eee;
  }
  > li:nth-child( even ) {
    background-color: #ddd;
  }
  .tags li > a {
    color: lighten($black, 28%);
  }
}

.posts-list {
  margin: 30px 0;
  > li {
    margin-bottom: 23px;
    padding-bottom: 20px;
    border-bottom: 1px solid darken($white, 8.2353);
    &:last-child {
      border: none;
    }
  }
}

.posts-list-tight {
   margin: 0;
   > li {
     margin-bottom: 1px;
   }
}

.tags {
  margin-top: 20px;
  > li {
    display: inline-block;
    background: darken($white, 5%);
    padding: 7px 10px;
    color: lighten($black, 28%);
    font-size: 11px;
    text-transform: uppercase;
    > a {
      color: $white;
    }
  }
}

.social-btn {
  width: 2em;
}

.inner-post {
  font-family: 'Merriweather', serif;

  h1 {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 50px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif;
    color: $dark-grey;
    margin-top: 1.5em;
  }
  p {
    font-size: 15px;
    line-height: 1.6;
    color: $dark-grey;
    margin-bottom: 1.3em;
  }
  small {
    color: darken($white, 40);
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
  }
  a:not(.btn):not(.pagination_pager) {
    color: $blue;
  }
  ul,
  ol {
    padding-left: 30px;
    > li {
      position: relative;
      margin-bottom: 20px;
      &:first-child {
        margin-top: 20px;
      }
    }
  }
}

.demo {
  margin-bottom: 50px;
}

.post-title-section {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px;
  h1,
  h2,
  h3 {
    padding-top: 0;
    margin-top: 0;
  }
  a {
    color: $link-blue;
  }
  a:hover,
  a:active,
  a:focus {
    color: $link-hover;
  }
  .section-title {
    position: relative;
    left: auto;
    bottom: auto;
    font-size: 80px;
  }
  .tags > li {
    background: none;
    border: 1px solid rgba($white, 0.4);
    color: $white;
    font-size: 15px;
  }
  .section-line {
    color: $dark-grey;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-bottom: 20px;
    &:after {
      content: '';
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 3px;
      background: rgba($white, 0.4);
      margin-left: 10px;
    }
    a {
      color: $dark-grey;
      &:hover {
        color: #4dbe7a;
      }
    }
    em {
      display: inline-block;
      margin: 0 10px;
    }
    &.reverse {
      margin-top: 40px;
      &:before {
        content: '';
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 3px;
        background: rgba($white, 0.4);
        margin-right: 10px;
      }
      &:after {
        display: none;
      }
    }
  }
}

.date-highlight {
  text-align: center;
  margin: 50px 0;
  color: darken($white, 40);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    background: #eaeaea;
    margin-right: 10px;
  }
  &:after {
    content: '';
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    background: #eaeaea;
    margin-left: 10px;
  }
}

.footer-line {
  float: right;
  margin-bottom: 50px;
}

.share-buttons {
  position: absolute;
  top: 32px;
  left: 40px;
  > .btn {
    margin-bottom: 0;
  }
}

// Media queries
@media screen and (max-height: 605px) {
  .post-title-section .section-title {
    font-size: 45px;
  }
}

@media screen and (max-width: 960px) {
  .block-left,
  .block-right {
    box-shadow: none;
    float: none;
    width: 100%;
  }
  .block-right {
    height: auto;
    min-height: 100% !important;
    overflow-y: inherit;
    background: none;
  }
  html {
    overflow: auto;
  }
  .projects-menu li {
    width: 50% !important;
    height: 50% !important;
    float: left;
  }
  .share-buttons span {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .posts-list {
    margin-top: 80px;
    > li {
      .post-title {
        max-width: 100%;
      }
      h2 {
        font-size: 20px;
      }
      .date {
        float: left;
        display: block;
        width: 100%;
        padding-bottom: 10px;
      }
    }
  }
  .inner-post {
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    p,
    li {
      font-size: 16px;
      line-height: 24px;
    }
    ul > li {
      margin-bottom: 10px;
    }
  }
  .date-highlight {
    margin: 80px 0 40px;
  }
  .post-title-section {
    .section-line {
      display: none;
    }
    .section-title {
      font-size: 40px;
    }
  }
  .section-title {
    font-size: 80px;
  }
  .projects-menu li {
    width: 100% !important;
    height: 50% !important;
  }
  .content {
    padding: 20px
  }
}

// entry meta used in tags and categories page
.entry-meta {
  font-size: .75rem;
  text-transform: uppercase;
  padding-left: 0;
  display: none; // hide header meta on small screens
  @media screen and (min-width: $small) {
    display: block;
  }
  a {
    color: lighten($black, 45);
  }
  li {
    list-style-type: none;
    display: inline;
  }
  .tag,
  .category {
    display: inline-block;
    background-color: darken($white, 3%);
    border-radius: 2px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin: 2px 5px;
    font-size: 0.7rem;
    border: none !important;
    span {
      float: left;
      padding: 2px 6px;
    }
    .count {
      background-color: darken($white, 8%);
    }
    &:hover {
      background-color: darken($white, 8%);
    }
  }
}
.entry-title > a{
  border: none !important;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  &_pager {
    display: inline-block;
    padding: 0.75em;
    min-width: 5.5em;
    font-size: 0.8em;
    font-weight: 400;
    background-color: darken($white, 5%);
    color: darken($white, 35%) !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:hover {
      background-color: $dark-grey;
      color: $white !important;
    }
    &.disabled {
      background-color: darken($white, 3%);
      color:darken($white, 15%) !important;
      &:hover {
        background-color: darken($white, 3%);
        color:darken($white, 15%) !important;
      }
    }
  }
}
