$white: #FFFFFF;
$light-grey: #F1F1F1;
$gray: #A4A4A4;
$dark-grey: #586E75;
$darker-grey: #3f3d56;
$darker-grey: #2C2D33;
$black: #000000;
$orange: #EBB134;
$green: #008200;
$light-green: #4caf50;
$blue: #005A8C;
$light-blue: #008fe1;
$red: #A00000;
$link-blue: #0275D8;
$link-hover: #01447E;
$yellow: #F89406;
$aqua: #7FDBFF;
$ink-blue: #000F55; //#041047;
$blue-gray: mix(#F7F7F7, $blue, 93%);


$base-font: "weblysleek_uilight", sans-serif;
$code-font: "LiberationMonoRegular", monospace;

// break point
$small: 750px;
