$white: #FFFFFF;
$black: #000000;
$gray: #D4D4D4;
$overlay-color: #2C2D33;
$dark-grey: #2C2D33;
$green: #008200;
$red: #A00000;
$blue: #005A8C;
$yellow: #F89406;
$aqua: #7FDBFF;

$base-font: "weblysleek_uilight", sans-serif;
$code-font: "LiberationMonoRegular", monospace;
// break point
$small: 750px;
