---
layout: form
navid: home
sections: true
title: Frootlab
subtitle: Smart Analytics
title-layout: inset
permalink: /index.html
image-meta:
  cloudinary: bg/default
  format: svg
links:
  - name: Projects
    url: "#projects"
    title: Projects at Frootlab
  - name: Blog
    url: "#blog"
    title: Frootlab Blog
  - name: About
    url: /about
    title: About Us
---

<section class="title" id="projects">
  <h3><b>Projects</b></h3>
</section>

<section class="subtitle">
  Next generation AutoML and Data-Warehousing
</section>

{% include projects/preview.html featured=true limit=3 display="cards" more="/projects" %}

<section class="title" id="blog">
  <h3><b>Blog</b></h3>
</section>

<section class="subtitle">
  Pure and applied Data Science
</section>

{% include blog/preview.html layout="cards" limit=3 type="blog" more="/blog" %}
