---
layout: form
navid: home
sections: true
title: Frootlab
subtitle: Smart Analytics
title-layout: inset
permalink: /index.html
image-meta:
  cloudinary: bg/default
  format: svg
links:
  - name: Projects
    url: "#projects"
    title: Projects at Frootlab
  - name: Blog
    url: "#blog"
    title: Frootlab Blog
  - name: About
    url: /about
    title: About Us
---

<header>
  <h3 id="projects">Projects</h3>
  <p>Next generation AutoML and Data-Warehousing</p>
</header>
{% include projects/display.html
  layout="cards"
  featured=true
  limit=3
  more="/projects" %}

<header>
  <h3 id="blog">Blog</h3>
  <p>Pure and applied Data Science</p>
</header>
{% include blog/display.html
  layout="cards"
  limit=3
  type="blog"
  more="/blog" %}
