{% assign items = site.projects %}

{% comment %}
================================================================================
Filter Projects (by featured, category, list and limit)
================================================================================
{% endcomment %}

{% if include.featured or include.featured == false %}
  {% assign items = items | where: "featured", include.featured %}
{% endif %}

{% if include.category %}
  {% assign items = items | where: "category", include.category %}
{% endif %}

{% if include.list %}
  {% assign list = include.list | join: '|' %}
  {% assign items = items | where_exp: "item", "list contains item.title" %}
{% endif %}

{% if include.limit %}
  {% assign bound = include.limit %}
{% else %}
  {% assign bound = 99999 %}
{% endif %}

{% comment %}
================================================================================
Sort Projects (by name or popularity)
================================================================================
{% endcomment %}

{% case include.sort %}
  {% when 'name' %}
    {% assign items = items %}
  {% else %}
    {% assign items = items | sort:"popularity" | reverse %}
{% endcase %}

{% comment %}
================================================================================
List / display Posts
================================================================================
{% endcomment %}

<section class="paper">
{% case include.layout | downcase %}
{% when 'list' %}
  {% assign count = items | size %}
  {% if count > 0 %}
  <ul>
    {% for item in items limit: bound %}
    <li>
      <a href="{{ site.url }}{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

{% else %}
  <div class="ample grid">

  {% for item in items limit: bound %}

    {% if item.figure.cloudinary %}
      {% assign preview = "https://res.cloudinary.com/frootlab/image/upload/" | append: item.figure.cloudinary | append: ".svg" %}
    {% elsif item.figure.uri %}
      {% assign preview = item.figure.uri %}
    {% endif %}

    <div class="cell" id="{{ item.title | downcase | url_encode }}">
      <a href="{{ site.url }}{{ item.url }}" title="{{ item.title }}" style="display: block; height: 180px;">
        <img style="width: 100%; max-height: 100%;" src="{{ preview }}">
      </a>
      <p>
        <b>
          <a href="{{ site.url }}{{ item.url }}" title="{{ item.title }}">
            {{ item.title }}
          </a>
        </b>
      </p>
      <p>{{ item.subtitle }}</p>
    </div>
  {% endfor %}

  </div>
{% endcase %}

{% if include.more %}
<ul class="small right inherent squared hstack icons">
  <li>
    {% include links/create.html name="more" display="right" uid=include.more title="more" %}
  </li>
</ul>
{% endif %}

</section>
