---
layout: form
navid: projects
title: Projects
title-layout: inset
sections: true
description: Gallery of Projects
permalink: /projects/index.html
redirect_from: /projects.html
image-meta:
  cloudinary: pixabay/3357642-edit
  orientation: landscape
links:
  - name: Pandora
    url: "#pandora"
    title: Pandora
  - name: Nemoa
    url: "#nemoa"
    title: Nemoa
  - name: Motley
    url: "#motley"
    title: Motley
  - name: flib
    url: "#flib"
    title: flib
---

<section class="title">
  <h3><b>Main</b></h3>
  <p>Projects that shape our mission</p>
</section>

<section class="white">
  {% include projects/preview.html display="cards" featured=true bookmarks=true %}
</section>

<section class="title">
  <h3><b>Auxiliary</b></h3>
  <p>Projects that support our mission</p>
</section>

<section class="white">
  {% include projects/preview.html display="cards" featured=false bookmarks=true %}
</section>
