---
layout: form
navid: projects
title: Projects
title-layout: inset
sections: true
description: Gallery of Projects
permalink: /projects/index.html
redirect_from: /projects.html
image-meta:
  cloudinary: bg/default
  format: svg
links:
  - name: Vivid Code
    url: "#vivid+code"
    title: Vivid Code
  - name: Vivid DB
    url: "#vivid+db"
    title: Vivid DB
  - name: Vivid Node
    url: "#vivid+node"
    title: Vivid Node
  - name: Vivid Store
    url: "#vivid+store"
    title: Vivid Store
  - name: Vivid Root
    url: "#vivid+root"
    title: Vivid Root
  - name: Hup
    url: "#hup"
    title: Frootlab Shared Library
---

<header id="super">
  <h3>Master</h3>
  <p>Projects that shape our <a href="/about#mission">Mission</a></p>
</header>
{% include projects/display.html
  layout="cards"
  category="super" %}

<header id="main">
  <h3>Main</h3>
  <p>Essential constituents of our master projects</p>
</header>
{% include projects/display.html
  layout="cards"
  category="main"
  bookmarks=true %}

<header id="auxiliary">
  <h3>Auxiliary</h3>
  <p>Projects that support our main projects</p>
</header>
{% include projects/display.html
  layout="cards"
  category="auxiliary"
  bookmarks=true %}
