---
layout: form
navid: projects
title: Projects
title-layout: inset
sections: true
description: Gallery of Projects
permalink: /projects/index.html
redirect_from: /projects.html
image-meta:
  cloudinary: bg/default
  format: svg
links:
  - name: Liquid Code
    url: "#liquid code"
    title: Liquid Code
  - name: Pandora
    url: "#pandora"
    title: Pandora
  - name: Nemoa
    url: "#nemoa"
    title: Nemoa
  - name: Motley
    url: "#motley"
    title: Motley
  - name: Flib
    url: "#flib"
    title: Flib
---

<section class="title" id="Main">
  <h3><b>Main</b></h3>
</section>

<hr>

<section class="subtitle">
  <div class="subtext">Projects that shape our <a href="/about#Mission">Mission</a></div>
</section>

<section class="white">
  {% include projects/preview.html display="cards" category="main" bookmarks=true %}
</section>

<section class="title" id="Subprojects">
  <h3><b>Subprojects</b></h3>
</section>

<hr>

<section class="subtitle">
  <div class="subtext">Components of our main projects</div>
</section>

<section class="white">
  {% include projects/preview.html display="cards" category="component" bookmarks=true %}
</section>

<section class="title" id="Auxiliary">
  <h3><b>Auxiliary</b></h3>
</section>

<hr>

<section class="subtitle">
  <div class="subtext">Projects that support our main projects</div>
</section>

<section class="white">
  {% include projects/preview.html display="cards" category="auxiliary" bookmarks=true %}
</section>
