<ul class="icon-links">
  {% if page.readthedocs %}<li><a href="http://docs.frootlab.org/projects/{{ page.readthedocs }}" title="Online Documentation" target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i><span>Online Documentation</span></a></li>{% endif %}
  {% if page.readthedocs %}<li><a href="https://readthedocs.org/projects/{{ page.readthedocs }}/downloads/pdf/latest/" title="PDF Documentation" target="_blank" rel="noopener noreferrer"><i class="fas fa-print"></i><span>.pdf</span></a></li>{% endif %}
  {% if page.readthedocs %}<li><a href="https://readthedocs.org/projects/{{ page.readthedocs }}/downloads/epub/latest/" title="EPUB Documentation"  target="_blank" rel="noopener noreferrer"><i class="fas fa-tablet"></i><span>.epub</span></a></li>{% endif %}
  {% if page.readthedocs %}<li><a href="https://readthedocs.org/projects/{{ page.readthedocs }}/downloads/zip/latest/" title="Online Documentation as ZIP Archive" target="_blank" rel="noopener noreferrer"><i class="fas fa-file-archive"></i><span>.zip</span></a></li>{% endif %}
</ul>
