<ul class="hstack icons">
  {% if page.pdf %}<li><a class="pdf" href="{{ site.url }}/{{ page.pdf }}" title="Save as PDF" target="_blank" rel="noopener"><i class="fas fa-file-pdf"></i></a></li>{% endif %}
  <li><a class="print" onclick="window.print();return false;" title="Print this Article" target="_blank" rel="noopener"><i class="fas fa-print"></i></a></li>
  <li><a class="twitter" href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></li>
  <li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a></li>
</ul>
