{% if include.content-class %}
  {% assign content-class = include.content-class %}
{% else %}
  {% assign content-class = "form" %}
{% endif %}

<div id="right-page">
  <div class="overflow-box">
    {% if page.backdrop %}
    <div class="content {{ content-class }}" style="background: {{ page.backdrop }};">
    {% else %}
    <div class="content {{ content-class }}">
    {% endif %}
      {% unless page.sections %}
      {% if page.form-style %}
      <section style="{{ page.form-style }}">
      {% else %}
      <section>
      {% endif %}
      {% endunless %}
