{% if page.navid == 'home' %}{% assign state_home = 'active' %}{% endif %}
{% if page.navid == 'projects' %}{% assign state_projects = 'active' %}{% endif %}
{% if page.navid == 'blog' %}{% assign state_blog = 'active' %}{% endif %}
{% if page.navid == 'contact' %}{% assign state_contact = 'active' %}{% endif %}


<div id="Overlay" class="sideoverlay"></div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ site.url }}" title="About Frootlab" class="{{ state_home }}">Home</a>
  <a href="{{ site.url }}/projects" title="Projects" class="{{ state_projects }}">Projects</a>
  <a href="{{ site.url }}/blog" title="Blog" class="{{ state_blog }}">Blog</a>
  <a href="{{ site.url }}/contact" title="Contact" class="{{ state_contact }}">Contact</a>
</div>
