{% if page.share != false %}
<div class="share-article">
  <div class="separator">Print / Share Article</div>
  <a onclick="window.print();return false;" class="btn btn_grey" title="Print this Article">
    <i class="fas fa-print"></i><span> Print</span>
  </a>
  <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="btn btn_twitter" title="Share on Twitter">
    <i class="fab fa-twitter"></i><span> Twitter</span>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="btn btn_facebook" title="Share on Facebook">
    <i class="fab fa-facebook"></i><span> Facebook</span>
  </a>
</div>
{% endif %}
