---
layout: form
navid: microblog
surtitle: Micro
title: Blog
title-layout: inset
short-title: Microblog
backdrop: white
image-meta:
  cloudinary: pixabay/3357642-edit
  orientation: landscape
sections: true
description: Newsfeed
permalink: /microblog/index.html
redirect_from: /news.html
links:
  - name: News
    url: "#news"
    title: News about us and our projects
---

<section class="title" id="news">
  <h3>
    <b>News</b>
  </h3>
  <p>Updates and announcements</p>
</section>

<section>
  {% include blog/preview.html limit=10 type="microblog" layout="magazine" %}
</section>

<section>
  <ul class="small centered squared seamless icons">
    {% include links/create.html name="more" uid="/microblog/news" title="more posts" %}
  </ul>
</section>
