---
layout: blog
title: Blog
title-layout: inset
short-title: Category
image-meta:
  cloudinary: bg/default
  format: svg
sections: true
description: "An archive of all blog posts sorted by category"
permalink: /blog/categories.html
navid: blog
---

{% assign bag = site.data.categories | where: "type", "blog" %}

{% for cat in bag %}
<div id="{{ cat.id }}" class="hidden">
  <section class="title">
    <h3>{{ cat.name }}</h3>
  </section>
  {% include blog/preview.html layout="cards" category=cat.id %}
</div>
{% endfor %}
