---
layout: blog
title: Blog
title-layout: inset
short-title: Category
image-meta:
  cloudinary: bg/default
  format: svg
sections: true
description: "An archive of all blog posts sorted by category"
permalink: /blog/categories.html
navid: blog
---

{% assign bag = site.data.categories | where: "type", "blog" %}
{% for item in bag %}
<div class="hidden" id="{{ item.id | downcase | url_encode }}">
  <header>
    <h3>{{ cat.name }}</h3>
  </header>
  {% include blog/preview.html layout="cards" category=item.id %}
</div>
{% endfor %}
