---
layout: blog
navid: blog
title: Blog
title-layout: inset
short-title: Blog
image-meta:
  cloudinary: bg/default
  format: svg
sections: true
description: An archive of all blog posts sorted by date
permalink: /blog/index.html
redirect_from: /blog.html
---

<header>
  <h3>Corporate Blog</h3>
  <p>Articles about us and our projects</p>
</header>
{% include blog/display.html
  layout="cards"
  limit=3
  type="blog"
  category="corporate"
  more="/blog/corporate" %}

<header>
  <h3>Science Blog</h3>
  <p>Articles about pure and applied data science</p>
</header>
{% include blog/display.html
  layout="cards"
  limit=3
  type="blog"
  category="science"
  more="/blog/science" %}
