---
layout: blog
navid: blog
title: Blog
title-layout: inset
short-title: Blog
image-meta:
  cloudinary: bg/default
  format: svg
sections: true
description: An archive of all blog posts sorted by date
permalink: /blog/index.html
redirect_from: /blog.html
---

<section class="title">
  <h3><b>Corporate Blog</b></h3>
</section>

<section class="subtitle">
  Articles about us and our projects
</section>

{% include blog/preview.html layout="cards" limit=3 type="blog" category="corporate" more="/blog/corporate" %}

<section class="title">
  <h3><b>Science Blog</b></h3>
</section>

<section class="subtitle">
  Articles about pure and applied data science
</section>

{% include blog/preview.html layout="cards" limit=3 type="blog" category="science" more="/blog/science" %}
