---
layout: blog
navid: blog
title: Blog
title-layout: inset
short-title: Blog
image-meta:
  cloudinary: bg/default
  format: svg
sections: true
description: An archive of all blog posts sorted by date
permalink: /blog/index.html
redirect_from: /blog.html
---

<section class="title">
  <h3><b>Corporate Blog</b></h3>
</section>

<hr>
<section class="subtitle">
  <div class="subtext">
    <ul class="tiny squared inherent icons" style="float: right; margin-top: -0.3em;">
      {% include links/create.html name="more" uid="/blog/corporate" title="more posts" %}
    </ul>
    Articles about us and our projects
  </div>
</section>

<hr>
{% include blog/preview.html layout="cards" limit=3 type="blog" category="corporate" %}

<section class="title">
  <h3><b>Science Blog</b></h3>
</section>

<hr>
<section class="subtitle">
  <div class="subtext">
    <ul class="tiny squared inherent icons" style="float: right; margin-top: -0.3em;">
      {% include links/create.html name="more" uid="/blog/science" title="more posts" %}
    </ul>
    Articles about pure and applied data science
  </div>
</section>

<hr>
{% include blog/preview.html layout="cards" limit=3 type="blog" category="science" %}
