---
layout: blog
navid: blog
title: Tag
title-layout: inset
image-meta:
  cloudinary: bg/default
  format: svg
description: "An archive of all blog posts sorted by tag"
permalink: /blog/tag/index.html
---

{% assign bag = site.data.categories | where: "type", "blog" | join: '|' %}

{% capture tags %}
  {% for post in site.posts %}
    {% if bag contains post.category %}
      {% for tag in post.tags %}{{ tag }}|{% endfor %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign array = tags | split: '|' %}
{% assign tags = array[1] | strip %}
{% for item in array %}
  {% assign token = item | strip %}
  {% unless tags contains token %}
    {% capture tags %}{{ tags }}|{{ token }}{% endcapture %}
  {% endunless %}
{% endfor %}

{% assign tags = tags | strip | split: '|' | compact | sort %}

{% for tag in tags %}
  <header id="{{ tag | downcase | url_encode }}">
    <h3><i class="fas fa-tag fa-sm"></i> {{ tag }}</h3>
  </header>
  {% include blog/display.html layout="magazine" tag=tag type="blog" %}
{% endfor %}
