.form {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: left;
  background-color: lighten($grey, 5%);

  h1,
  h2,
  h3,
  p,
  section,
  .info {
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  header {
    padding: 0;
    margin: 0;

    h1, h2, h3, h4, p {
      padding: 1rem 5rem;
      width: 100%;
      margin: 0;
      border-top: 1px solid white;
      box-shadow:
        inset 0 -1px 5px 0 rgba(0,0,0,.013),
        inset 0 -2px 2px 0 rgba(0,0,0,.009),
        inset 0 -3px 1px -2px rgba(0,0,0,.013);
    }

    &:first-child {
      h1, h2, h3, h4, p {
        &:first-child {
          border-top: none;
          padding-top: 5rem;
          margin-top: auto;
        }
      }
    }

    &:last-child {
      h1, h2, h3, h4, p {
        &:last-child {
          padding-bottom: 7rem;
          margin-bottom: auto;
        }
      }
    }

    h1, h2, h3, h4 {
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-size: 1.5em;
      padding-top: 3rem;
      padding-bottom: 1.5rem;
    }

    p {
      font-family: 'Roboto Condensed', sans-serif;
      color: #6E7080;
      background:
        linear-gradient(-45deg, darken($grey, 3%), lighten($grey, 2%) 30%);
    }

    h2 {
      font-weight: 400;
      color: white;
      background: $ocean;

      * {
        color: white;
      }
    }

    h3 {
      font-weight: 400;
      color: $ocean;
      background:
        linear-gradient(-45deg, darken($grey, 15%), darken($grey, 10%) 30%);
    }

    h4 {
      font-weight: 300;
      color: $ocean;
      background:
        linear-gradient(-45deg, darken($grey, 3%), lighten($grey, 2%) 30%);
    }
  }

  section {
    padding: 1rem 5rem;
    width: 100%;
    margin: 0;
    border-top: 1px solid white;

    &:first-child {
      border-top: none;
      padding-top: 3rem;
      margin-top: auto;
    }

    &:last-child {
      padding-bottom: 7rem;
      margin-bottom: auto;
    }

    &.white {
      background: white;
    }

    &.grey {
      background: lighten($grey, 2%);
    }
  }

  p,
  ul {
    color: $dark-grey;
    font-size: 1em;
    margin: 1em 0;
    padding: 0;
    line-height: 1.6;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: $blue;
    font-weight: 400;
  }

  b,
  strong {
    color: $ocean;
    font-weight: 400;
  }

  .hidden {
    display: none;

    &:target {
      display: block;
    }
  }

  .info {
    border-left: 6px solid #2196F3;
    padding: 1px 2rem !important;
    color: $ocean;

    p {
      color: $ocean;

      &:before {
        content: "Note: ";
        font-weight: 400;
      }
    }
  }
}

/* Labels */
.label {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 0.8rem;
}

.contact-form-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.contact-form-container * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: #555;
}

#contact-form {

  fieldset {
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }

  input,
  button,
  textarea {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }

  input,
  textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: $white;
    margin: 0 0 5px;
    padding: 10px;

    &:hover {
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #AAA;
    }

    &:focus {
      outline: 0;
      border: 1px solid #AAA;
    }
  }

  textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }

  button {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: $white;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;

    &:hover {
      background: #43A047;
      transition: background-color 0.3s ease-in-out;
    }

    &:active {
      box-shadow: inset 0 1px 3px $black-t50;
    }
  }
}

.copyright {
  text-align: center;
}

/* Grid Layout for cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0;
  margin: 0;
  grid-gap: 1.4rem;

  .cell {
    display: block;
    margin: 0;
    padding: 0;
  }
}

/* Cards */
.card {
  box-sizing: border-box;
  height: 280px;
  position: relative;
  border-radius: 0.1rem;
  box-shadow:
    0 2px 2px 0 rgba(45,54,65,.1),
    0 1px 5px 0 rgba(45,54,65,.09),
    0 3px 1px -2px rgba(45,54,65,.15);

  &:active {
    transition: transform 50ms ease;
    transform: scale(0.98);
  }

  &:hover {
    .card-content {
      min-height: 40%;
      border-radius: 0 0 0.1rem 0.1rem;

      .card-text {
        opacity: 0;
        padding-top: 0;
      }
    }
    .card-image {
      border-radius: 0.1rem 0.1rem 0px 0px;
      transition: all .4s ease;
    }
  }
}

.card .card-image {
  height: 60%;
  border-radius: calc(0.1rem + 2px) calc(0.1rem + 2px) 0px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card .card-content {
  padding: 1rem;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.5;
  color: $dark-grey;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: white;
  background: linear-gradient(-45deg, #f9f9fb, white 30%);

  min-height: 100%;
  border-radius: 0.1rem;

  .card-title {
    font-size: 1rem;
    font-weight: 400;
    color: $ocean;
  }

  .card-text {
    opacity: 1;
    padding-top: 1rem;

    color: $dark-grey;
    height: 0;
    transition: all .4s ease;
  }
}

/* Small Screen Adjustments */

@media screen and (max-width: 640px) {
  .form section {
    padding-left: 1rem;
    padding-right: 1rem;

    &:first-of-type {
      padding-top: 3rem;
    }

    &:last-of-type {
      padding-bottom: 7rem;
    }
  }
}

/* Adjustments for print */
@media print {
  .form {
    color: $ocean;
    display: block;
    position: static;
    width: 100%;
    max-width: 100%;

    .title {
      font-size: 1em;
      color: $ocean;
      margin-bottom: 1em;
      box-shadow: none;
      line-height: 1.2;
      background-color: none;
    }
  }
}
