.form {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: left;
  background-color: #FAFAFA;

  h1,
  h2,
  h3,
  p,
  section,
  .panel,
  .info {
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  section {
    padding: 1rem 5rem;
    width: 100%;
    margin: 0;

    &:first-of-type {
      padding-top: 3rem;
      margin-top: auto;
    }

    &:last-of-type {
      padding-bottom: 7rem;
      margin-bottom: auto;
    }
  }

  section.white {
    background: white;
  }

  section.grey {
    background: #FAFAFA;
  }

  section.dark-grey {
    background: $blue-gray;
  }

  section.ocean {
    background: $ocean;

    * {
      color: white;
    }
  }

  h1,
  h2,
  h3 {
    color: $darker-grey;
  }

  h1,
  h2 {
    font-size: 2.2em;
    padding: 1em 0 0.3em;

    &:first-of-type {
      padding-top: 0;
    }
  }

  h3 {
    font-size: 1.5em;
  }

  p,
  ul {
    color: $dark-grey;
    font-size: 1em;
    margin: 1em 0;
    padding-top: 0;
    line-height: 1.6;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: $blue;
    font-weight: 400;
  }

  b,
  strong {
    color: $darker-grey;
    font-weight: 400;
  }

  .panel {
    background: #fafafa;
    padding: 2rem;
    margin: 0;
    position: relative;
    color: $darker-grey;
    border-radius: 2px;
    box-shadow:
      0 3px 6px $black-t15,
      0 3px 6px $black-t25;

    p {
      color: $darker-grey;
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }

  .flat {
    box-shadow: none !important;
  }

  .thin {
    padding: 1rem !important;
  }

  .borderless {
    padding: 0 !important;
  }

  .info {
    border-left: 6px solid #2196F3;
    padding: 1px 2rem !important;
    color: $darker-grey;

    p {
      color: $darker-grey;

      &:before {
        content: "Note: ";
        font-weight: bold;
      }
    }
  }
}

.centered {
  display: flex !important;
  align-items: center;
}

/* Labels */
.label {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 0.8rem;
}

.form .grey-box {
  background: $black-t5;
  padding: 2em;
  padding: 1.5rem 1rem !important;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: $darker-grey;

  p {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: $darker-grey;
  }
}

.contact-form-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.contact-form-container * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: #555;
}

#contact-form fieldset {
  border: none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact-form h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact-form h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: $white;
  margin: 0 0 5px;
  padding: 10px;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact-form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact-form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: $white;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact-form button[type="submit"]:hover {
  background: #43A047;
  transition: background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px $black-t50;
}

.copyright {
  text-align: center;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

/* Grid Layout for cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0;
  margin: 0;
  grid-gap: 1.4rem;
}

/* Cells in grid */
.cell {
  display: block;
  margin: 0;
  padding: 0;
}

/* Cards */
.card {
  box-sizing: border-box;
  height: 280px;
  position: relative;
  border-radius: 2px;
  box-shadow:
    0 2px 2px 0 rgba(45,54,65,.1),
    0 1px 5px 0 rgba(45,54,65,.09),
    0 3px 1px -2px rgba(45,54,65,.15);

  &:active {
    transition: transform 50ms ease;
    transform: scale(0.98);
  }
}

.card .card-image {
  height: 60%;
  border-radius: 2px 2px 0px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card .card-content {
  padding: 1rem;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.5;
  color: $dark-grey;
  border-radius: 0 0 2px 2px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: white;
  background: linear-gradient(-45deg, #f9f9fb, white 30%);

  .card-title {
    font-size: 1rem;
    font-weight: 400;
    color: $darker-grey;
  }

  .card-text {
    opacity: 1;
    padding-top: 1rem;
    color: $dark-grey;
    height: 0;
  }
}

.card:hover {

  .card-content {
    transition: all 0.4s ease;
    min-height: 40%;

    .card-text {
      padding-top: 0;
      transition: all .4s ease;
      opacity: 0;
    }
  }
}

/* Small Screen Adjustments */

@media screen and (max-width: 640px) {
  .form section {
    padding-left: 1rem;
    padding-right: 1rem;

    &:first-of-type {
      padding-top: 3rem;
    }

    &:last-of-type {
      padding-bottom: 7rem;
    }
  }
}

/* Adjustments for print */
@media print {
  .form {
    color: $darker-grey;
    display: block;
    position: static;
    width: 100%;
    max-width: 100%;

    .title {
      font-size: 1em;
      color: $darker-grey;
      margin-bottom: 1em;
      box-shadow: none;
      line-height: 1.2;
      background-color: none;
    }
  }
}
