/* Title Animations */
@keyframes showup {
  0% {opacity:0;}
  1% {opacity:0;}
  100% {opacity:1;}
}

/* Icons */
#left-page ul.icons {
  > li a {
    color: $white-t90;

    &:hover {
      color: $blue-l10;
    }
  }
}

.title-page {
  color: white;
  text-align: center;
  max-width: 26em;
  width: 100%;
  margin: 0 auto;
  animation: showup 0.3s normal forwards ease-in-out;

  h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.5rem 0 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 0;
  }

  .logo {
    max-width: 9rem;
    display: inline-block;
  }

  span.title {
    padding: 0.1rem 0;
    line-height: 1.6;
  }

  span.subtitle {
    padding: 0.12em 0;
    line-height: 1.8;
  }

  /* Styles */

  // Dark Backdrop
  span.boxed {
    color: white;
    background-color: $black-t70;
    box-shadow:
      1rem 0 0 $black-t70,
      -1rem 0 0 $black-t70;
    box-decoration-break: clone;
  }

  // Inset text shadow
  span.inset {
    color: white;
    text-shadow: $black-t50 1px 1px 0;
  }

  // Block text shadow
  span.block {
    color: rgb(224, 223, 220);
    letter-spacing: 0.1em;
    text-shadow:
      rgb(255, 255, 255) 0px -1px 0px,
      rgb(46, 46, 46) 0px 1px 0px;
  }
}

/* Adjustments for print */
@media print {
  #left-page .title-page {
    color: $ocean;
    display: block;
    position: static;
    width: 100%;

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    .title {
      color: $ocean;
      margin-bottom: 1em;
      line-height: 1.2;
      background: none !important;
      box-shadow: none !important;
    }
  }
}
