/* Side navigation */
#sidenav {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .5s;
  box-shadow: 3px 0 15px 0 $black-t50;
  user-select: none;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: .3s;

    @media screen and (max-height: 450px) {
      font-size: 1.2rem;
    }

    &:hover {
      color: #F1F1F1;
    }

    &.active {
      background-color: $ocean;
      color: #E0E0E0;
      cursor: default;
      pointer-events: none;
    }

    &.closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }

  @media print {
    display: none;
  }
}

/* Greyout page when opening side navigation */
#overlay {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background: transparent;
  overflow-x: hidden;
  transition: background-color .5s;
  user-select: none;

  @media print {
    display: none;
  }
}

/* Breadcrumbs */
#crumbs {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: .9rem;
  line-height: 1rem;
  overflow: hidden;
  transition: .2s;
  user-select: none;

  img {
    padding: 0;
    margin: 0;
    height: 1rem;
    width: auto;
    max-width: none;
    max-height: none;
  }

  i {
    transform: scale(1.4);
  }

  ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 2.6rem;

    > li {
      padding: 0;
      margin: 0;

      a {
        display: inline-block;
        padding: .8rem 1.6rem .8rem 2.6rem;
        margin-left: -1.2rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 0 1.3rem 1.3rem 0;
        white-space: nowrap;
        cursor: pointer;

        box-shadow: 0 0 1rem $black-t40;
        background: linear-gradient(
          $blue 0%,
          darken($blue, 3%) 95%,
          lighten($blue, 5%) 100%);

        &:hover {
          box-shadow: 0 0 1rem $black-t60;
          background: linear-gradient(
            lighten($blue, 10%) 0%,
            lighten($blue, 7%) 95%,
            lighten($blue, 15%) 100%);
        }
      }

      /* Active item is a bit different */
      &.active a {
        pointer-events: none;
        cursor: default;
        color: white;
        background-color: $black-t80;
        background: $black-t80;
      }

      /* Remove shadow over active item */
      &.active + li a {
        box-shadow: none;
      }

      /* Remove shadow of the right most item */
      &:first-child a {
        box-shadow: none;
      }

      /* Menu Icon */
      &.menu-button a,
      &.menu-button-active a {
        padding-left: 2.8rem;
        background: linear-gradient(
          lighten($green, 10%) 0%,
          lighten($green, 6%) 95%,
          lighten($green, 15%) 100%);

        &:hover {
          background: linear-gradient(
            lighten($green, 20%) 0%,
            lighten($green, 16%) 95%,
            lighten($green, 25%) 100%);
        }
      }
    }

    /* Reduce shadow over hovered items */
    > li:hover + li a {
      box-shadow: 0 0 .5rem $black-t20;
    }
  }

  @media print {
    display: none;
  }
}

/* Page Footer */
#footer {
  width: 100%;
  padding-right: 1.2rem;
  text-align: right;
  margin-top: -1.8rem;
  height: 1.8rem;
  z-index: 5;

  @media print {
    display: none;
  }

  @media
    screen and (max-width: 960px),
    screen and (orientation: portrait) {
    text-align: center;
    padding: .5rem 0;
    margin-top: 0;
    background-color: $black-t90;
    height: auto;
  }

  a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.8rem;
    color: #4D4D4D;
    display: inline-block;
    padding-left: 1.2rem;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;

    @media
      screen and (max-width: 960px),
      screen and (orientation: portrait) {
      display: block;
      padding: 0;
      color: white;
    }
  }
}
