/* Greyout page when opening side navigation */
#overlay {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background: transparent;
  overflow-x: hidden;
  transition: background-color 0.5s;

  @media print {
    display: none;
  }
}

/* Side navigation */
#sidenav {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .5s;
  box-shadow: 3px 0 15px 0 $black-t50;

  /* The navigation menu links */
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: .3s;

    @media screen and (max-height: 450px) {
      font-size: 1.2rem;
    }

    &:hover {
      color: #F1F1F1;
    }

    &.active {
      background-color: $ocean;
      color: #E0E0E0;
      cursor: default;
      pointer-events: none;
    }

    &.closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }

  @media print {
    display: none;
  }
}

/* Style page content - use this if you want to push the page content to the
right when you open the side navigation */
main {
  transition: margin-left 0.5s;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  clear: both;
}

/* Breadcrumbs */
#crumbs {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1rem;
  overflow: hidden;
  transition: .2s;

  img {
    padding: 0;
    margin: 0;
    height: 1rem;
    transform: scale(1.5);
  }

  i {
    transform: scale(1.4);
  }

  ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li {
      padding: 0;
      margin: 0;

      a {
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 0.9em;
        font-weight: 600;
        padding: 12px 30px 12px 45px;
        margin-left: -20px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 0 100px 100px 0;
        box-shadow: 0 0 20px $black-t40;
        background: linear-gradient(
          $ocean 0%,
          darken($ocean, 3%) 95%,
          lighten($ocean, 5%) 100%);

        &:hover {
          background-color: lighten($ocean, 10%);
          background: linear-gradient(
            lighten($ocean, 10%) 0%,
            lighten($ocean, 7%) 95%,
            lighten($ocean, 15%) 100%);
        }

        background: linear-gradient(
          $blue 0%,
          darken($blue, 3%) 95%,
          lighten($blue, 5%) 100%);

        &:hover {
          background: linear-gradient(
            lighten($blue, 10%) 0%,
            lighten($blue, 7%) 95%,
            lighten($blue, 15%) 100%);
        }
      }

      /* Remove the shadow of the right most Icon (reversed) */
      &:first-child a {
        box-shadow: none;
      }

      /* Menu Icon */
      &.menu-button a,
      &.menu-button-active a {
        padding: 12px 30px;
        margin-left: 0px;
        border-radius: 0px 100px 100px 0px;

        background: linear-gradient(
          lighten($green, 10%) 0%,
          lighten($green, 6%) 95%,
          lighten($green, 15%) 100%);

        &:hover {
          background: linear-gradient(
            lighten($green, 20%) 0%,
            lighten($green, 16%) 95%,
            lighten($green, 25%) 100%);
        }
      }
    }
  }

  @media print {
    display: none;
  }
}

/* Active item is a bit different */
#crumbs ul li.active a {
  pointer-events: none;
  cursor: default;
  color: white;
  background-color: $black-t80;
  background: $black-t80;
}

/* Remove the shadow for the active's next item, to match the design more accurately */
#crumbs ul li.active + li a {
  box-shadow: none;
}
