// !! Important: Microsoft Edge does not understand #CCCCCCCC Notation

$white:     #FFF;      // Pure white
$white-t90: rgba(255, 255, 255, .9); // 90% white
$white-t40: rgba(255, 255, 255, .4); // 40% white

$black:     #000;      // Pure black
$black-t90: rgba(0, 0, 0, .9); // 90% black
$black-t80: rgba(0, 0, 0, .8); // 80% black
$black-t70: rgba(0, 0, 0, .7); // 70% black
$black-t60: rgba(0, 0, 0, .6); // 60% black
$black-t50: rgba(0, 0, 0, .5); // 50% black
$black-t40: rgba(0, 0, 0, .4); // 40% black
$black-t30: rgba(0, 0, 0, .3); // 30% black
$black-t25: rgba(0, 0, 0, .25); // 25% black
$black-t20: rgba(0, 0, 0, .2); // 20% black
$black-t15: rgba(0, 0, 0, .15); // 15% black
$black-t10: rgba(0, 0, 0, .1); // 10% black
$black-t5:  rgba(0, 0, 0, .05); // 5% black
$black-t0:  rgba(0, 0, 0, .0); // Transparent black

$black-l10: lighten(black, 10%);
$black-l15: lighten(black, 15%);

$red:       #A00000;
$red-l10:   lighten($red, 10%);
$green:     #008200;
$green-l10: lighten($green, 10%);
$blue:      #005A8C;
$blue-l10:  lighten($blue, 10%);

$dark-grey: #6E7080;

$orange: #EBB134;
$yellow: #F89406;
$aqua: #7FDBFF;
$grey: mix(#F7F7F7, $blue, 93%);
$ocean: darken($grey, 80%);

$base-font: "weblysleek_uilight", sans-serif;
$code-font: "Roboto Mono", monospace;

// break point
$small: 750px;
