---
layout: blog
navid: blog
title: Blog
title-layout: inset
short-title: Corporate
image-meta:
  cloudinary: bg/default
  format: svg
sections: true
description: "An archive of all corporate blog posts sorted by date"
permalink: /blog/corporate/index.html
---

<section class="ocean">
  <h3>
    <ul class="tiny squared icons" style="float: right; margin-top: -0.3em;">
      <li>
      {% include links/create.html name="feed" uid="/feed/corporate.xml" %}
      </li>
    </ul>
    <b>Corporate Blog</b>
  </h3>
</section>

<hr>
{% include blog/archive.html type="blog" category="corporate" layout="cards" %}
