---
layout: form
links-generator: tags
navid: blog
title: Blog
title-layout: inset
short-title: Corporate
image-meta:
  cloudinary: bg/default
  format: svg
description: "An archive of all corporate blog posts sorted by date"
permalink: /blog/corporate/index.html
---

<header>
  <h2>
    <ul class="header hstack icons">
      <li>{% include links/create.html name="feed" uid="/feed/corporate.xml" %}
    </ul>
    Corporate Blog
  </h2>
</header>

{% include blog/archive.html type="blog" category="corporate" layout="magazine" %}
