---
layout: blog
navid: microblog
surtitle: Micro
title: Blog
title-layout: inset
short-title: News
backdrop: white
image-meta:
  cloudinary: bg/default
  format: svg
sections: true
description: "An archive of all news sorted by date"
permalink: /microblog/news
social:
  - name: twitter
    user: frootlab
  - name: mastodon
    user: mastodon.social/@frootlab
---

<header>
  <h2 id="news">
    <ul class="header hstack icons">
      <li>{% include links/create.html name="feed" uid="/feed/news.xml" %}
    </ul>
    News
  </h2>
</header>

{% include blog/archive.html type="microblog" layout="magazine" %}
