{% comment %}
================================================================================
Get Posts of given Type
================================================================================
{% endcomment %}

{% case include.type %}
  {% when 'blog' %}
    {% assign posts = site.posts %}
  {% when 'microblog' %}
    {% assign posts = site.news | reverse %}
  {% else %}
    {% assign posts = site.posts %}
{% endcase %}

{% comment %}
================================================================================
Group Posts by Year
================================================================================
{% endcomment %}

{% assign groups = posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% assign years = groups | map: "name" | sort | reverse %}

{% comment %}
================================================================================
Display Post Preview using given Layout
================================================================================
{% endcomment %}

{% for year in years %}
<header id="{{ year }}">
  <h4 style="text-align: center;">{{ year }}</h4>
</header>
{% include blog/preview.html year=year type=include.type category=include.category layout=include.layout %}

{% endfor %}
