{% comment %}
================================================================================
Catch all Categories in an Array
================================================================================
{% endcomment %}

{% assign bag = site.data.categories %}

{% comment %}
================================================================================
Filter Categories by Type
================================================================================
{% endcomment %}

{% if include.type %}
  {% assign bag = bag | where: "type", include.type %}
{% endif %}

{% comment %}
================================================================================
Display Categories
================================================================================
{% endcomment %}

{% for cat in bag %}
<a class="btn btn_grey" href="/blog/categories#{{ cat.id }}" title="{{ cat.name }}">{{ cat.name }}</a>
{% endfor %}
