{% comment %}
================================================================================
Get Posts of given Type
================================================================================
{% endcomment %}

{% case include.type %}
  {% when 'blog' %}
    {% assign posts = site.posts %}
  {% when 'microblog' %}
    {% assign posts = site.news
      | reverse %}
  {% else %}
    {% assign posts = site.posts %}
{% endcase %}

{% comment %}
================================================================================
Filter Posts by Category, Tag, Author, Year and Limit
================================================================================
{% endcomment %}

{% if include.category %}
  {% assign posts = posts
    | where: "category", include.category %}
{% endif %}

{% if include.tag %}
  {% assign posts = posts
    | where: "tags", include.tag %}
{% endif %}

{% if include.author %}
  {% assign posts = posts
    | where: "tags", include.tag %}
{% endif %}

{% if include.year %}
  {% assign groups = posts
    | group_by_exp: "post", "post.date
    | date: '%Y'" %}
  {% assign groups = groups
    | where: "name", include.year %}
  {% assign posts = groups[0].items %}
{% endif %}

{% if include.limit %}
  {% assign bound = include.limit %}
{% else %}
  {% assign bound = 9999 %}
{% endif %}

{% comment %}
================================================================================
List Layout
================================================================================
{% endcomment %}

{% case include.layout | downcase %}
  {% when 'list' %}
    {% assign count = posts | size %}
    {% if count > 0 %}
      <section class="paper">
        <ul class="vstack">
        {% for post in posts limit: bound %}
          <li>{{ post.date | date: '%d. %B, %y' }}: {{ post.title }}</li>
        {% endfor %}
        </ul>
      {% if include.more %}
        <ul class="small right inherent squared hstack icons">
          <li>{% include links/create.html
            name="more"
            display="right"
            uid=include.more
            title=include.more-title
            rel=include.more-rel %}
          </li>
        </ul>
      {% endif %}

    </section>
    {% endif %}

{% comment %}
================================================================================
Magazin Layout
================================================================================
{% endcomment %}

  {% when 'magazine' %}
    {% assign count = posts
      | size %}
    {% if count > 0 %}
    <section class="paper">
      <ul class="vstack">
      {% for post in posts limit: bound %}
        {% assign author = site.authors
          | where: 'title', post.author
          | first %}
        <li>
          <div class="label">
            <i class="far fa-calendar-alt"></i>&nbsp;
            <time datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%A, %d.%m.%Y" }}
            </time>
            {% unless include.author %}
            &emsp;
            <i class="far fa-user"></i>&nbsp;
            <author>
            {% if author %}
              <a href="{{ author.url }}" title="{{ author.title }}">{{ author.title }}</a>
            {% else %}
              Anonymous
            {% endif %}
            </author>
            {% endunless %}
          </div>
        {% case include.type %}
          {% when 'microblog' %}
          <p>
            {{ post.content }}
          </p>
        {% else %}
          <strong>{{ post.title }}</strong>
          <p style="margin-top: .3rem;">
            {{ post.excerpt | strip_html }}...
            <a href="{{ post.url }}" title="Permalink to Micropost">read more</a>
          </p>
        {% endcase %}
          <br>
        </li>
      {% endfor %}
      </ul>

      {% if include.more %}
      <ul class="small right inherent squared hstack icons">
        <li>{% include links/create.html
          name="more"
          display="right"
          uid=include.more
          title=include.more-title
          rel=include.more-rel %}
        </li>
      </ul>
      {% endif %}

    </section>
    {% endif %}

{% comment %}
================================================================================
Card Layout
================================================================================
{% endcomment %}

  {% when 'cards' %}
    <section class="grey">
      <br>
      <div class="grid">

      {% for post in posts limit: bound %}
        {% assign readtime = post.content
          | number_of_words
          | divided_by: 180
          | plus: 0.5
          | round %}
        {% assign title_lines = post.title
          | size
          | divided_by: 20
          | plus: 1
          | floor %}
        {% assign offset = title_lines
          | plus: 1 %}
        {% assign nol = 10
          | minus: offset
          | round %}
        {% assign trunc_chars = nol
          | times: 22 %}
        {% assign trunc_words = post.excerpt
          | strip_html
          | truncate: trunc_chars
          | number_of_words %}
        {% assign excerpt = post.excerpt
          | strip_html
          | truncatewords: trunc_words %}

        {% if post.image-meta.cloudinary %}
          {% assign preview = "https://res.cloudinary.com/"
            | append: site.cloudinary
            | append: "/image/upload/c_thumb,w_300,g_face/"
            | append: post.image-meta.cloudinary
            | append: ".webp" %}
        {% elsif post.preview %}
          {% assign preview = site.url
            | append: post.preview %}
        {% elsif post.image-meta.url %}
          {% assign preview = site.url
            | append: post.image-meta.url %}
        {% else %}
          {% assign preview = site.url
            | append: "/"
            | append: site.background.default %}
        {% endif %}

        {% assign catid = post.categories
          | first
          | downcase %}

        {% case catid %}
          {% when 'corporate' %}
            {% assign color = 'blue' %}
          {% when 'science' %}
            {% assign color = 'green' %}
          {% when 'technology' %}
            {% assign color = 'red' %}
          {% else %}
            {% assign color = 'grey' %}
        {% endcase %}

        <div class="cell">
          <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
            <div class="card">
              <div class="ribbon-box">
                <div class="ribbon-wrapper">
                    <div class="{{ color }}-ribbon">{{ catid }}</div>
                </div>
              </div>
              <div class="card-image" style="background-image: url({{ preview }});"></div>
              <div class="card-content">
                <div class="label">{{ post.date | date: '%d %b %Y' }} &nbsp;&bull;&nbsp; {{ readtime }} min</div>
                <div class="card-title">{{ post.title | markdownify | strip_html }}</div>
                <div class="card-text">{{ excerpt }}</div>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>
      <br>

      {% if include.more %}
      <ul class="small right inherent squared hstack icons">
        <li>{% include links/create.html
          name="more"
          display="right"
          uid=include.more
          title=include.more-title
          rel=include.more-rel %}
        </li>
      </ul>
      {% endif %}

    </section>

  {% else %}
    <b>The given layout '{{ include.layout }}' is not valid!</b>

{% endcase %}
