{% comment %}
================================================================================
Get Posts of given Type
================================================================================
{% endcomment %}

{% case include.type %}
  {% when 'blog' %}
    {% assign posts = site.posts %}
  {% when 'microblog' %}
    {% assign posts = site.news | reverse %}
  {% else %}
    {% assign posts = site.posts %}
{% endcase %}

{% comment %}
================================================================================
Filter Posts by Category, Tag, Author, Year and Limit
================================================================================
{% endcomment %}

{% if include.category %}
  {% assign posts = posts | where: "category", include.category %}
{% endif %}

{% if include.tag %}
  {% assign posts = posts | where: "tags", include.tag %}
{% endif %}

{% if include.author %}
  {% assign posts = posts | where: "tags", include.tag %}
{% endif %}

{% if include.year %}
  {% assign groups = posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% assign groups = groups | where: "name", include.year %}
  {% assign posts = groups[0].items %}
{% endif %}

{% if include.limit %}
  {% assign bound = include.limit %}
{% else %}
  {% assign bound = 9999 %}
{% endif %}

{% comment %}
================================================================================
Display Posts by using List Layout
================================================================================
{% endcomment %}

{% case include.layout | downcase %}
  {% when 'list' %}
    {% assign count = posts | size %}
    {% if count > 0 %}
      <section class="white">
      <ul>
      {% for post in posts limit: bound %}
        <li>
          {{ post.date | date: '%d. %B, %y' }}:
          <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      {% endfor %}
      </ul>
      </section>
    {% endif %}

    {% if include.more %}
    <section class="white">
    <ul class="small right inherent squared icons">
      <li>
        {% include links/create.html name="more" display="right" uid=include.more title="more" %}
      </li>
    </ul>
    </section>
    {% endif %}

{% comment %}
================================================================================
Display Posts by using Magazin Layout
================================================================================
{% endcomment %}

  {% when 'magazine' %}
    {% assign count = posts | size %}
    {% if count > 0 %}
    <section class="white">
      <ul>
      {% for post in posts limit: bound %}
        {% assign author = site.authors | where: 'title', post.author | first %}
        <li>
          <small>
            <i class="far fa-user"></i>&nbsp;
            <author>
        {% if author %}
              <a href="{{ author.url }}">{{ author.title }}</a>
        {% else %}
              Anonymous
        {% endif %}
            </author>
            &emsp;
            <a href="{{ post.url }}" title="Permalink to Micropost">
              <i class="far fa-calendar-alt"></i>&nbsp;
              <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%A, %d.%m.%Y at %I:%M%P" }}
              </time>
            </a>
          </small>
        {% case include.type %}
          {% when 'microblog' %}
          <p>
            {{ post.content }}
          </p>
        {% else %}
          <p>
            <b>{{ post.title }}</b>:
            {{ post.excerpt | strip_html }}
              <a href="{{ post.url }}" title="Permalink to Micropost">more</a>
          </p>
        {% endcase %}
          <br>
        </li>
      {% endfor %}
      </ul>

      {% if include.more %}
      <ul class="small right inherent squared icons">
        <li>
          {% include links/create.html name="more" display="right" uid=include.more title="more" %}
        </li>
      </ul>
      {% endif %}

      </section>
    {% endif %}

{% comment %}
================================================================================
Display Posts by using Card Layout
================================================================================
{% endcomment %}

  {% when 'cards' %}
    <section class="grey">
    <div class="grid" style="padding: 1rem 0;">

    {% for post in posts limit: bound %}
      {% assign readtime = post.content | number_of_words | divided_by: 180 | plus: 0.5 | round %}
      {% assign offset = post.title | number_of_words | times: 2 %}
      {% assign cutoff = 35 | minus: offset %}

      {% if post.image-meta.cloudinary %}
        {% assign preview = "https://res.cloudinary.com/frootlab/image/upload/c_thumb,w_300,g_face/" | append: post.image-meta.cloudinary | append: ".webp" %}
      {% elsif post.preview %}
        {% assign preview = site.url | append: post.preview %}
      {% elsif post.image-meta.url %}
        {% assign preview = site.url | append: post.image-meta.url %}
      {% else %}
        {% assign preview = site.url | append: "/" | append: site.background.default %}
      {% endif %}

      {% assign catid = post.categories | first | downcase %}

      {% case catid %}
        {% when 'corporate' %}
          {% assign color = 'blue' %}
        {% when 'science' %}
          {% assign color = 'green' %}
        {% when 'technology' %}
          {% assign color = 'red' %}
        {% else %}
          {% assign color = 'grey' %}
      {% endcase %}

      <div class="cell">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
        <div class="card">
          <div class="ribbon-box">
            <div class="ribbon-wrapper">
                <div class="{{ color }}-ribbon">{{ catid }}</div>
            </div>
          </div>
          <div class="card-image" style="background-image: url({{ preview }});"></div>
          <div class="card-content">
            <div class="label">{{ post.date | date: '%d %b %Y' }} &nbsp;&bull;&nbsp; {{ readtime }} min</div>
            <div class="card-title">{{ post.title | markdownify | strip_html }}</div>
            <div class="card-text">{{ post.excerpt | strip_html | truncatewords: cutoff}}</div>
          </div>
        </div>
        </a>
      </div>

      {% endfor %}

      <div class="cell"></div>
      <div class="cell"></div>

    </div>

    {% if include.more %}
    <ul class="small right inherent squared icons">
      <li>
        {% include links/create.html name="more" display="right" uid=include.more title="more" %}
      </li>
    </ul>
    {% endif %}

    </section>

  {% else %}
    <b>The given layout '{{ include.layout }}' is not valid!</b>

{% endcase %}
