{% comment %}
================================================================================
Filter Tags (by Category, Type)
================================================================================
{% endcomment %}

{% assign bag = site.data.categories %}
{% if include.type %}
  {% assign bag = bag | where: "type", include.type %}
{% endif %}
{% if include.category %}
  {% assign bag = bag | where: "id", include.category %}
{% endif %}
{% assign bag = bag | join: '|' %}

{% capture tags %}
  {% for post in site.posts %}
    {% if bag contains post.category %}
      {% for tag in post.tags %}{{ tag }}|{% endfor %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% comment %}
================================================================================
Filter Tag Duplicates
================================================================================
{% endcomment %}

{% assign array = tags | split: '|' %}
{% assign tags = array[1] | strip %}
{% for item in array %}
  {% assign token = item | strip %}
  {% unless tags contains token %}
    {% capture tags %}{{ tags }}|{{ token }}{% endcapture %}
  {% endunless %}
{% endfor %}

{% assign tags = tags | strip | split: '|' | compact | sort %}

{% comment %}
================================================================================
Display Tags
================================================================================
{% endcomment %}

{% if include.type %}
  {% assign path = '/' | append: include.type | append: '/tags' %}
{% else %}
  {% assign path = '/blog/tags' %}
{% endif %}

{% for tag in tags %}
{% if tag != '' %}
<a class="btn btn_grey" href="{{ path }}#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
{% endif %}
{% endfor %}
