{% case page.navid %}
  {% when 'contact' %}{% assign state_contact = 'active' %}
  {% when 'privacy' %}{% assign state_privacy = 'active' %}
  {% when 'imprint' %}{% assign state_imprint = 'active' %}
  {% when 'copyright' %}{% assign state_copyright = 'active' %}
{% endcase %}

<footer id="footer">
  <a href="{{ site.url }}/contact" title="Contact" class="{{ state_contact }}">Contact</a>
  <a href="{{ site.url }}/legal/privacy" title="Privacy Policy" class="{{ state_privacy }}">Privacy Policy</a>
  <a href="{{ site.url }}/legal/notice" title="Legal Notice" class="{{ state_imprint }}">Legal Notice</a>
  <a href="{{ site.url }}/legal/copyright" title="Terms of Use" class="{{ state_copyright }}">{{ site.copyright }}</a>
</footer>
