{% if page.short_name %}{% assign cur_title = page.name %}
{% elsif page.project %}{% assign cur_title = page.project | capitalize | prepend: " " | prepend: site.title %}
{% elsif page.title %}{% assign cur_title = page.title | markdownify | strip_html | strip_newlines | escape_once %}
{% if cur_title == "About" %}{% assign cur_title = "About " | append: site.title %}
{% elsif cur_title == "Projects" %}{% assign cur_title = site.title | append: " Projects" %}
{% elsif cur_title == "Blog" %}{% assign cur_title = site.title | append: " Blog" %}
{% endif %}
{% else %}{% assign cur_title = site.title | append: " " | append: site.subtitle %}
{% endif %}

{% assign cur_canonical = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | replace:'http:','https:' %}
{% if page.excerpt %}{% assign cur_description = page.excerpt | markdownify | strip_html | strip_newlines | escape_once %}
{% else %}{% assign cur_description = site.description %}
{% endif %}

{% if page.tags %}{% assign cur_keywords = page.tags | join: ', ' %}
{% else %}{% assign cur_keywords = site.keywords %}
{% endif %}

{% if page.image %}
{% capture image %}{{ page.image }}{% endcapture %}
{% unless image contains 'http://' or image contains 'https://' %}
{% capture image %}{{ site.url }}/{{ image }}{% endcapture %}
{% endunless %}
{% assign cur_image = image %}
{% else %}{% assign cur_image = site.logo %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  <meta charset="UTF-8">
  <title>{{ cur_title }}</title>
  <link rel="canonical" href="{{ cur_canonical }}">
  <meta name="description" content="{{ cur_description }}">
  <meta name="keywords" content="{{ cur_keywords }}">
  <meta name="robots" content="index,follow">

  <!-- Icon -->
  <link rel="icon" href="{{ site.url }}/favicon.ico" />
  <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <!-- Dublin Core -->
  <meta name="dc.language" content="{{ site.language }}">
  <meta name="dc.source" content="{{ site.url }}">
  <meta name="dc.relation" content="{{ site.relation }}">
  <meta name="dc.title" content="{{ cur_title }}">
  <meta name="dc.keywords" content="{{ cur_keywords }}">
  <meta name="dc.subject" content="{{ cur_description }}">
  <meta name="dc.description" content="{{ cur_description }}">
  <meta name="dcterms.rights" content="{{ site.copyright }}">

  <!-- Open Graph -->
  <meta property="og:locale" content="{{ site.locale }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ cur_title }}">
  <meta property="og:description" content="{{ cur_description }}">
  <meta property="og:url" content="{{ page.url | replace:'index.html', '' | prepend: site.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:image" content="{{ site.url }}/images/logos/{{ site.logo }}">

  <!-- Geo -->
  <meta name="geo.country" content="DE">

  <!-- Mobile -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Twitter Cards -->
  {% if page.image %}<meta name="twitter:card" content="summary_large_image">
  {% else %}<meta name="twitter:card" content="summary">{% endif %}
  <meta name="twitter:image" content="{{ cur_image }}">
  <meta name="twitter:title" content="{{ cur_title }}">
  <meta name="twitter:description" content="{{ cur_description }}">
  <meta name="twitter:site" content="@{{ site.twitter }}">
  <meta name="twitter:creator" content="@{{ site.twitter }}">

  <!-- Feed -->
  {% feed_meta %}

  <!-- Scripts -->
  {% include site/scripts.html %}

  <!-- Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Cormorant+Garamond&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
  {% if page.image %}
  {% capture image %}{{ page.image }}{% endcapture %}
  {% unless image contains 'http://' or image contains 'https://' %}{% capture image %}{{ site.url }}/{{ image }}{% endcapture %}{% endunless %}
  <style type="text/css">
    #posts.article-page .left-page {background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(20, 22, 26, 0.6)), url({{ image }}) no-repeat;background-size: cover;}
  </style>
  {% else %}
  <style type="text/css">
    #posts.article-page .left-page {background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(20, 22, 26, 0.6)), url({{ site.url }}/{{ site.background.default-post }}) no-repeat; background-size: cover;}
  </style>
  {% endif %}
  <style type="text/css">
    #posts .left-page {background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(20, 22, 26, 0.6)), url({{ site.url }}/{{ site.background.post-list }}) no-repeat; background-size: cover;}
    .left-page {background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(20, 22, 26, 0.6)), url({{ site.url }}/{{ site.background.homepage }}) no-repeat; background-size: cover;}
  </style>
</head>

<body>

{% include site/navigation.html %}
{% include site/breadcrumbs.html %}

<div id="main">
