{% if page.crumbs %}
  {% assign crumbs = page.crumbs | offset: 1 %}
{% else %}
  {% assign crumbs = page.url | remove: '/index.html' | split: '/' | offset: 1 %}
{% endif %}

{% assign total = crumbs | size %}
{% if total > 1 %}
  {% assign menu-class = "menu-button" %}
{% else %}
  {% assign menu-class = "menu-button-active" %}
{% endif %}

{% assign title = page.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% if page.short-title %}
  {% assign short-title = page.short-title %}
{% elsif page.crumbs %}
  {% assign short-title = page.crumbs | last %}
{% else %}
  {% assign short-title = title | remove: ":" | truncatewords: 3 %}
{% endif %}

<div id="overlay"></div>
<nav id="sidenav">
  <a href="javascript:void(0);" class="closebtn" onclick="closeNav()">&times;</a>
  {% for item in site.data.navigation %}
  {% if page.navid == item.navid %}
  <a href="{{ item.link }}" title="{{ item.alt }}" class="active">{{ item.name }}</a>
  {% else %}
  <a href="{{ item.link }}" title="{{ item.alt }}">{{ item.name }}</a>
  {% endif %}
  {% endfor %}
</nav>
<nav id="crumbs">
  <ul>
    {% assign rcrumbs = crumbs | reverse %}
    {% for crumb in rcrumbs %}
    {% if crumb != '' %}
    {% if forloop.index == 1 %}
    <li class="active">
      <a>{{ short-title }}</a>
    {% else %}
    {% assign crumb_limit = total | minus: forloop.index | plus: 1 %}
    <li>
      <a href="{{ site.url }}{% for i in crumbs limit: crumb_limit %}{{ i | downcase | append: '/' }}{% endfor %}">{{ crumb }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
    <li class="{{ menu-class }}">
      <a onclick="openNav();" title="Menu"><img src="/images/ico/menu.svg" alt="Menu Icon"></a>
  </ul>
</nav>
