---
layout: blog
navid: blog
title: Blog
title-layout: inset
short-title: Science
image-meta:
  cloudinary: pixabay/3357642-edit
  orientation: landscape
sections: true
description: "An archive of all science blog posts sorted by date"
permalink: /blog/science/index.html
---

<section class="ocean">
  <h3>
    <ul class="tiny squared icons" style="float: right; margin-top: -0.3em;">
      {% include links/create.html name="feed" uid="/feed/science.xml" %}
    </ul>
    <b>Science Blog</b>
  </h3>
  <p>Articles about pure and applied data science</p>
</section>

<hr>

{% include blog/archive.html type="blog" category="science" layout="cards" %}
