---
layout: form
links-generator: tags
navid: blog
title: Blog
title-layout: inset
short-title: Science
image-meta:
  cloudinary: bg/default
  format: svg
description: "An archive of all science blog posts sorted by date"
permalink: /blog/science/index.html
---

<header>
  <h2>
    <ul class="header hstack icons">
      <li>{% include links/create.html name="feed" uid="/feed/science.xml" %}
    </ul>
    Science Blog
  </h2>
</header>

{% include blog/archive.html type="blog" category="science" layout="magazine" %}
