{% assign title = page.title | markdownify | remove: "<p>" | remove: "</p>" %}

{% if page.cloudinary %}
  {% if page.cloudinary-type == "svg" %}
    {% assign transform = "b_rgb:f5f5f5,bo_20px_solid_rgb:f5f5f5,c_pad,h_900,q_auto:best,w_700" %}
  {% else %}
    {% assign transform = "c_scale,q_auto:good,w_1000" %}
  {% endif %}
  {% assign image = "https://res.cloudinary.com/frootlab/image/upload/"
    | append: transform
    | append: "/"
    | append: page.cloudinary
    | append: ".webp" %}
{% elsif page.image %}
  {% if page.image contains 'http://' or page.image contains 'https://' %}
    {% assign image = page.image %}
  {% else %}
    {% assign image = site.url | append: "/" | append: page.image %}
  {% endif %}
{% else %}
  {% assign image = site.url | append: "/" | append: site.background.default %}
{% endif %}
{% if page.cloudinary-type == "svg" %}
  {% assign background = "linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0) 20%), url(" | append: image | append: ")" %}
{% else %}
  {% assign background = "linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0) 20%), url(" | append: image | append: ")" %}
{% endif %}

{% if page.logo %}
  {% if page.logo contains 'http://' or page.logo contains 'https://' %}
    {% assign logo = page.logo %}
  {% else %}{% assign logo = site.url | append: page.logo %}
  {% endif %}
  {% if page.logo-alt %}{% assign logo-alt = page.logo-alt %}
  {% else %}{% assign logo-alt = title | append: " Logo" %}
  {% endif %}
{% endif %}

<div class="left-page" style="background-image: {{ background }};">
  <div class="content">
    <div class="title-page">
      {% if logo %}
      <div class="logo"><img src="{{ logo }}" alt="{{ logo-alt }}" style="width: 150px;"></div>
      {% endif %}
      <h1><span class="title">{{ title }}</span></h1>
      {% if page.subtitle %}
      <h2><span class="subtitle">{{ page.subtitle }}</span></h2>
      {% endif %}
    </div>
