{% assign title = page.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% capture image %}
  {% include site/background-image.html display="center" %}
{% endcapture %}

{% if page.logo %}
  {% if page.logo contains 'http://' or page.logo contains 'https://' %}
    {% assign logo = page.logo %}
  {% else %}
    {% assign logo = site.url | append: page.logo %}
  {% endif %}
  {% if page.logo-alt %}
    {% assign logo-alt = page.logo-alt %}
  {% else %}
    {% assign logo-alt = title | append: " Logo" %}
  {% endif %}
{% endif %}

{% if page.title-layout %}
  {% assign title-class = page.title-layout %}
{% else %}
  {% assign title-class = "boxed" %}
{% endif %}

<div id="left-page" style="background-image: {{ image }};">
  <div class="content">
    <div class="title-page">
      {% if logo %}
      <div class="logo"><img src="{{ logo }}" alt="{{ logo-alt }}"></div>
      {% endif %}
      {% if page.surtitle %}
      <h2><span class="subtitle {{ title-class }}">{{ page.surtitle }}</span></h2>
      {% endif %}
      <h1><span class="title {{ title-class }}">{{ title }}</span></h1>
      {% if page.subtitle %}
      <h2><span class="subtitle {{ title-class }}">{{ page.subtitle }}</span></h2>
      {% endif %}
    </div>
