---
layout: base
sections: true
backdrop: white
---

{% include front/header.html %}
<div class="banderole">
  <a class="btn btn_grey" href="#about" title="About the author">About</a>
  <a class="btn btn_grey" href="#posts" title="Posts written by the author">Posts</a>
  <a class="btn btn_grey" href="#contact" title="Personal contact information">Contact</a>
</div>
{% include front/trailer.html %}

{% include form/header.html %}
<header id="about">
  <h3>About</h3>
</header>

<section>
  {{ content }}
</section>

<header id="posts">
  <h3>Posts</h3>
</header>

{% include blog/display.html
  layout="magazine"
  author=page.title %}

<header id="contact">
  <h3>Contact</h3>
</header>

<section>
  {% include links/social.html %}
</section>
{% include form/trailer.html %}
