---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  <meta charset="UTF-8">

  <!-- Meta -->
  {% include site/meta.html %}

  <!-- Web Fonts -->
  <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap" rel="stylesheet">

  <!-- JS -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-analytics }}"></script>
  <script src="/assets/js/google-analytics.js"></script>
  <script src="/assets/js/navigation.js"></script>
  <script src="/assets/js/scrollarrow.js"></script>
  <script src="/assets/js/stylefix.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>
  {% include site/navigation.html %}
  {% include site/breadcrumbs.html %}

  <main>
  {{ content }}
  </main>
</body>

</html>
