---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  <meta charset="UTF-8">

  <!-- Meta -->
  {% include site/meta.html %}

  <!-- Fonts -->
  <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- <script src="https://kit.fontawesome.com/0bd6953961.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

  <!-- JS -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-analytics }}"></script>
  <script src="/js/main.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  {% include site/navigation.html %}

  <main>
  {{ content }}
  </main>
</body>

</html>
