---
layout: compress
---

{% include html-header.html %}

<body id="posts" class="inner-post-page">

{% include page-header.html %}

<div id="breadcrumb">
  <ul>
    <li class="active"><a href="#">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" | remove: ":" | truncatewords: 3 }}</a></li>
    <li class="menu-button"><a onclick="openNav();" title="Menu"><i class="fas fa-bars"></i></a></li>
  </ul>
</div>

<div id="main">
  <div class="block-left" style="
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)),
      url({{ site.url }}/{{ page.image }});">
    <div class="content">
      <div class="main-info">
        <h1>
          <span class="post-title">
            {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
          </span>
        </h1>
      </div>
    </div>
    <a id="scroll" href="{{ site.url }}{{ page.url }}#content" class="scroll-down"></a>
  </div>
  <div class="block-right">
    <div class="overflow-box">
      <div class="inner-post content" id="content">
        {{ content }}
      </div>
      {% include page-footer.html %}
    </div>
  </div>
</div>

</body>
{% include html-footer.html %}
