---
layout: base
sections: true
backdrop: white
---

{% comment %}
================================================================================
Get navigation links from link-generator or static link array
================================================================================
{% endcomment %}

{% if page.links-generator %}
  {% assign generator = page.links-generator %}
{% elsif layout.links-generator %}
  {% assign generator = layout.links-generator %}
{% else %}
  {% assign generator = "array" %}
{% endif %}

{% case generator %}
  {% when "array" %}
    {% if page.links %}
      {% assign array = page.links %}
    {% elsif layout.links %}
      {% assign array = layout.links %}
    {% endif %}
    {% if array %}
      {% capture links-html %}
        {% include links/generate/from-array.html array=array %}
      {% endcapture %}
    {% endif %}
  {% when "tags" %}
    {% capture links-html %}
      {% include links/generate/from-tags.html type=page.navid %}
    {% endcapture %}
{% endcase %}

{% comment %}
================================================================================
Display front cover
================================================================================
{% endcomment %}

{% include front/header.html %}
{% if links-html %}
<div class="banderole">
  {{ links-html }}
</div>
{% endif %}
{% include front/trailer.html %}

{% comment %}
================================================================================
Display contents
================================================================================
{% endcomment %}

{% include form/header.html %}
{{ content }}
{% include form/trailer.html %}
