---
layout: compress
---

{% include site/header.html %}

<div id="breadcrumb">
  <ul>
    <li class="menu-button"><a onclick="openNav();" title="Menu"><i class="fas fa-bars"></i></a></li>
  </ul>
</div>

<div id="main">
  {% include front/header.html %}
  <div class="banderole">
    <div style="text-align: center; padding: 1.1em; ">
      {% capture site_tags %}
      {% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}
      {% endfor %}
      {% endcapture %}
      {% assign tags_list = site_tags | split:',' | sort %}
      {% for project in site.data.projects %}
      <a class="btn btn_grey" href="{{ site.url }}{{ project.url }}">{{ project.title }}</a>
      {% endfor %}
    </div>
  </div>
  {% include front/trailer.html %}

  {% include form/header.html %}
  {{ content }}
  {% include form/trailer.html %}
</div>

{% include site/trailer.html %}
