---
layout: compress
---

{% include site/header.html %}

{% include front/header.html %}
<div class="banderole">
  <a class="btn btn_grey" href="{{ site.url }}/projects">Projects</a>
  <a class="btn btn_grey" href="{{ site.url }}/blog">Blog</a>
  <a class="btn btn_grey" href="{{ site.url }}/corporate/2019/03/19/welcome-at-frootlab.html">About</a>
</div>
{% include front/trailer.html %}

{% include form/header.html %}
{{ content }}
{% include form/trailer.html %}

{% include site/trailer.html %}
