---
layout: base
---

{% include front/header.html %}
<div class="banderole">
  {% assign title = page.title | markdownify | remove: "<p>" | remove: "</p>" %}
  {% assign author = site.authors | where: 'title', page.author | first %}
  {% if author %}
  <h3 class="post-author">by
    <a href="{{ author.url }}" rel="author" title="{{ author.title }}">
      {{ author.title }}
    </a>
  </h3>
  {% else %}
  <h3 class="post-author">Anonymous</h3>
  {% endif %}

  {% include links/license.html name=page.license url=page-licence-url%}
</div>
{% include front/trailer.html %}

{% include article/header.html %}
<div class="left separator">{{ page.date | date: '%d. %B, %Y' }}</div>
{{ content }}
{% include article/share.html %}
{% include article/trailer.html %}
