---
layout: compress
---

{% include header.html %}

<body id="posts" class="inner-post-page">

    <div class="block-left">
      <ul class="breadcrumb">
        <li><a href="{{ site.url }}">Frootlab</a></li>
        <li>404</li>
      </ul>
      <div class="content">
        <div class="post-title-section">
          <h1 class="section-title" style='
            margin: 0;
            font-size: 3.5em;
            padding-bottom: 10px;
            margin-bottom: 0px;'>
            {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
          </h1>
        </div>
      </div>
    </div>

    <div class="block-right">
      <div class="share-buttons">
        {% include share.html %}
      </div>
      <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
      <a title="projects" class="projects-menu-icon">
        <span></span>
      </a>
      <div class="inner-post content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
        <br>
        {% include share.html %}
        {% include page-pagination.html %}
      </div>
    </div>
    {% include overlay.html %}
    <script src="{{ site.url }}/assets/js/main.min.js"></script>
</body>

{% include footer.html %}
