---
layout: compress
---

{% include header.html %}

<body id="posts" class="inner-post-page">

  {% include sidenav.html %}

  <div id="main">

    <div class="block-left">
      <div class="content">
        <div id="breadcrumb">
            <ul>
                <li class="active"><a href="#">404</a></li>
                <li><a onclick="openNav();" title="Menu"><i class="fas fa-bars"></i></a></li>
            </ul>
        </div>
        <div class="post-title-section">
          <h1 class="section-title" style='
            margin: 0;
            font-size: 3.5em;
            padding-bottom: 10px;
            margin-bottom: 0px;'>
            {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
          </h1>
        </div>
      </div>
    </div>

    <div class="block-right">
      <div class="share-buttons">
        {% include share.html %}
      </div>
      <div class="inner-post content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
        <br>
        {% include share.html %}
        {% include page-pagination.html %}
      </div>
    </div>

    <script src="{{ site.url }}/assets/js/main.min.js"></script>

    </div>
</body>

{% include footer.html %}
