---
layout: compress
---

{% include header.html %}

<body id="posts">

  {% include sidenav.html %}

  <div id="main">
  <div class="block-left" style="
    background: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.0) 100%),
      url({{ site.url }}/{{ site.background.post-list }}) no-repeat;
    background-size: cover;">
    <div class="content">
      <div id="breadcrumb">
          <ul>
              <li class="active"><a href="{{ site.url }}/blog">Blog</a></li>
              <li><a href="#" onclick="openNav();" title="Menu"><i class="fas fa-bars"></i></a></li>
          </ul>
      </div>
      <div id="sidebar" class="sidebar-content">
        <a href="{{ site.url }}">Home</a>
        <a href="{{ site.url }}/projects">Projects</a>
        <a href="{{ site.url }}/blog">Blog</a>
      </div>
      <div class="post-title-section">
        <div class="columns">
          <div class="column" style="flex: 30%;">
            <h3>Categories</h3>
            {% for category in site.categories %}
            {% assign name = category | first %}
            {% assign catid = name | downcase %}
            {% if catid == 'corporate' %}
              {% assign color = 'blue' %}
            {% elsif catid == 'science' %}
              {% assign color = 'green' %}
            {% elsif catid == 'technology' %}
              {% assign color = 'red' %}
            {% else %}
              {% assign color = 'grey' %}
            {% endif %}
            <a class="btn btn_{{ color }}" href="{{site.url}}/categories#{{ name }}">
              {{ name }}
            </a>
            {% endfor %}
          </div>
          <div class="column" style="flex: 70%;">
            <h3>Tags</h3>
            {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
            {% assign tags_list = site_tags | split:',' | sort %}
            {% for item in (0..site.tags.size) %}{% unless forloop.last %}
            {% capture label %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
            <a class="btn btn_grey" href="{{site.url}}/tags#{{ label }}">
              <i class="fas fa-tag" aria-hidden="true"></i>
              {{ label }}
            </a>
            {% endunless %}{% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-right" style="background: #e2e1e0;" >
    <div class="content" style="padding-top: 2em;">
      {{ content }}
    </div>
  </div>

  <script src="{{ site.url }}/assets/js/main.min.js"></script>

  </div>
</body>

{% include footer.html %}
