---
layout: compress
---

{% include header.html %}

<body id="posts" class="inner-post-page">
    <div class="block-left">
      <ul class="breadcrumb">
        <li><a href="{{ site.url }}">Frootlab</a></li>
        <li><a href="/posts">Posts</a></li>
        <li>{{ page.title | markdownify | remove: "<p>" | remove: "</p>" | truncatewords: 2 }}</li>
      </ul>
      <div class="content">
        <div class="post-title-section"
          style='background-color: rgba(0, 0, 0, 0.7);
            padding: 20px 10px 10px 10px;
            border: 1px solid rgba(255, 255, 255, 0.03);
            border-radius: 5px;
            box-shadow: 10px 10px 47px -13px rgba(0, 0, 0, 0.9);'>
          <h2 class="section-title" style='
            color: rgba(255, 255, 255, 0.9); margin: 0;
            font-size: 3em;
            padding-bottom: 10px;
            margin-bottom: 0px;'>
            {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
          </h2>
          {% assign author = site.authors | where: 'name', page.author | first %}
          {% if author %}
          <p style="color: rgba(255, 255, 255, 0.9);">
            by <a href="{{ author.url }}" style="color: #0275d8;">{{ author.name }}</a>
          </p>
          {% endif %}
          <div style="margin-top: 55px; padding-bottom: 10px;">
            <p style="color: rgba(255, 255, 255, 0.9);">Tags:</p>
            <ul class="tags">
              {% for tag in page.tags %}
                <li><a href="{{ site.url }}/tags#{{ tag }}">{{ tag }}</a></li>
                {% unless forloop.last %}
                {% endunless %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="block-right">
      <div class="share-buttons">
        {% include share.html %}
      </div>
      <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
      <a title="projects" class="projects-menu-icon">
        <span></span>
      </a>
      <div class="inner-post content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
        <br>
        {% include share.html %}
        {% include page-pagination.html %}
      </div>
    </div>
    {% include overlay.html %}
    <script src="{{ site.url }}/assets/js/main.min.js"></script>
</body>

{% include footer.html %}
