---
layout: compress
---

{% include header.html %}

<body id="posts">

  <div class="block-left" style="
    background: linear-gradient(
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 2.5em,
      rgba(0, 0, 0, 0.8) 2.5em,
      rgba(20, 22, 26, 0.5) 40%,
      rgba(20, 22, 26, 0.1) 100%),
    url({{ site.url }}/{{ site.background.post-list }}) no-repeat;
    background-size: cover;">
    <ul class="breadcrumb">
      <li><a href="{{ site.url }}">Frootlab</a></li>
      <li>{{ page.title }}</li>
    </ul>
    <div class="content">
      <div class="post-title-section">
        <h3>Categories</h3>
        {% for category in site.categories %}
        {% assign name = category | first %}
        {% assign catid = name | downcase %}
        {% if catid == 'corporate' %}
          {% assign btnclass = 'btn btn_green' %}
        {% elsif catid == 'science' %}
          {% assign btnclass = 'btn btn_blue' %}
        {% else %}
          {% assign btnclass = 'btn btn_black' %}
        {% endif %}
        <a class="{{ btnclass }}" href="{{site.url}}/categories#{{ name }}">
          {{ name }}
        </a>
        {% endfor %}

        <h3>Tags</h3>
        {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
        {% assign tags_list = site_tags | split:',' | sort %}
        {% for item in (0..site.tags.size) %}{% unless forloop.last %}
        {% capture label %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
        <a class="btn btn_black" href="{{site.url}}/tags#{{ label }}">
          <i class="fas fa-tag" aria-hidden="true"></i>
          {{ label }}
        </a>
        {% endunless %}{% endfor %}
      </div>
    </div>
  </div>

  <div class="block-right">
    <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
    <a title="projects" class="projects-menu-icon">
      <span></span>
    </a>
    <div class="content">
      {{ content }}
    </div>
  </div>
  {% include overlay.html %}
  <script src="{{ site.url }}/assets/js/main.min.js"></script>
</body>

{% include footer.html %}
