---
layout: compress
---

{% include header.html %}

<body id="posts" class="inner-post-page">

  {% include sidenav.html %}

  <div id="main">
  <div class="block-left" style="
    background: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.0) 100%),
      url({{ site.url }}/{{ page.image }}) no-repeat;
    background-size: cover;">
    <div class="content">
      <div id="breadcrumb">
          <ul>
              <li class="active"><a href="#">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" | remove: ":" | truncatewords: 3 }}</a></li>
              <li><a href="{{ site.url }}/blog">Blog</a></li>
              <li><a onclick="openNav();" title="Menu"><i class="fas fa-bars"></i></a></li>
          </ul>
      </div>
      <div class="main-info">
      <h1>
        <span style="
          box-shadow: 0 0 0 .1em rgba(0, 0, 0, 0.7);
          line-height: 1.8;
          background-color: rgba(0, 0, 0, 0.7);">
        {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
        </span>
      </h1>
      </div>

      <div class="post-title-section">
        <div class="columns" style="text-align: center;">
          <div class="column" style="padding-bottom: 0px;">
            {% assign author = site.authors | where: 'name', page.author | first %}
            {% if author %}
            <h3>by <a href="{{ author.url }}" style="color: #0275d8;">{{ author.name }}</a></h3>
            {% else %}
            <h3>Author: Anonymous</h3>
            {% endif %}
            {% if page.license %}
            {% if page.license contains 'CC BY' %}
            <h3 style="font-size: 2em;">
              <a href="{{ page.license-url }}" style="color: rgba(255, 255, 255, 0.8);">
                <i class="fab fa-creative-commons"></i>
                <i class="fab fa-creative-commons-by"></i>
              </a>
            </h3>
            {% elsif page.license-url %}
            <h3>License: <a href="{{ page.license-url }}" style="color: #0275d8;">{{ page.license }}</a></h3>
            {% else %}
            <h3>License: {{ page.license }}</h3>
            {% endif %}
            {% else %}
            <h3>License: Unknown></h3>
            {% endif %}
          </div>
        </div>
        <div class="columns">
          <div class="column" style="text-align: center;">
            {% for label in page.tags %}
            <a class="btn btn_grey" href="{{site.url}}/tags#{{ label }}">
              {{ label }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <a id="scroll" href="{{ site.url }}/#content" class="scroll-down"></a>
  </div>

  <div class="block-right">
    <div class="inner-post content" id="content">
      <div class="date-highlight" style="margin-top: 0px; font-size: 0.9em; ">{{ page.date | date: '%d. %B, %Y' }}</div>
      {{ content }}
      <br>
      {% include share.html %}
    </div>
  </div>

  <script src="{{ site.url }}/assets/js/main.min.js"></script>
  </div>
</body>

{% include footer.html %}
