---
layout: base
sections: false
---

{% include front/header.html %}
<div class="banderole">
  {% assign title = page.title | markdownify | strip_html %}
  {% assign author = site.authors | where: 'title', page.author | first %}
  {% include links/author.html name=author.title url=author.url %}<br>
  {% include links/license.html name=page.license url=page.license-url %}
</div>
{% include front/trailer.html %}

{% include article/header.html %}
<div class="left separator">{{ page.date | date: '%d. %B, %Y' }}</div>
{{ content }}
{% include article/share.html %}
{% include article/related.html %}
{% include article/trailer.html %}
