---
layout: base
sections: true
backdrop: white
---

{% comment %}
================================================================================
Get information about source and documentation
================================================================================
{% endcomment %}

{% if page.source %}
  {% assign github = page.source
    | where: "name", "github"
    | map: "user"
    | last %}
  {% assign pypi = page.source
    | where: "name", "pypi"
    | map: "user"
    | last %}
{% endif %}

{% if page.docs or page.source %}
  {% assign has-links = true %}
{% else %}
  {% assign has-links = false %}
{% endif %}

{% comment %}
================================================================================
Get related posts
================================================================================
{% endcomment %}

{% capture posts-html %}
  {% include blog/display.html
    tag=page.title
    layout="magazine" %}
{% endcapture %}
{% assign posts-html = posts-html | strip %}
{% if posts-html == "" %}
  {% assign has-posts = false %}
{% else %}
  {% assign has-posts = true %}
{% endif %}

{% include front/header.html %}
<div class="banderole">
  <a class="btn" href="#about">About</a>
  {% if page.subprojects %}
    <a class="btn" href="#subprojects">Subprojects</a>
  {% endif %}
  {% if pypi %}
    <a class="btn" href="#quickstart">Quickstart</a>
  {% endif %}
  {% if has-posts %}
    <a class="btn" href="#posts">Posts</a>
  {% endif %}
  {% if has-links %}
    <a class="btn" href="#resources">Resources</a>
  {% endif %}
</div>
{% include front/trailer.html %}

{% include form/header.html %}
<header>
  <h2>{{ page.title }}{% if page.version %} <small>v{{ page.version }}</small>{% endif %}</h2>
</header>

<header id="about">
  <h4>About</h4>
</header>

<section>
  {{ content }}
  {% if page.license %}
  <p>
    According to <a href="/about#us">our convictions</a> {{ page.title }} is
    {% include links/create.html
      name="link"
      uid="https://fsfe.org/freesoftware/basics/summary.html"
      text="free software"
      title="Definition of Free Software"
      display="text" %}
    and licensed under the terms and conditions of the
    {% include links/license.html name=page.license %}.
    {% if github %}
      The source code is available on
      {% include links/create.html
        name="github"
        text="GitHub"
        uid=github
        display="text" %}.
    {% endif %}
  </p>
  {% endif %}
</section>

{% if page.subprojects %}
<header id="subprojects">
  <h4>Subprojects</h4>
</header>
{% include projects/display.html
  layout="cards"
  list=page.subprojects %}
{% endif %}

{% if pypi %}
<header id="quickstart">
  <h4>Quickstart</h4>
</header>
<section>
  <p><b>Installation using PIP</b></p>
  <div class="language-shell highlighter-rouge">
    <div class="highlight">
      <pre class="highlight"><code><span class="nv">$ </span>pip install {{ pypi }}</code></pre>
    </div>
  </div>
</section>
{% endif %}

{% if has-posts %}
<header id="posts">
  <h4>Posts</h4>
</header>
{{ posts-html }}
{% endif %}

{% if has-links %}
<header id="resources">
  <h4>Resources</h4>
</header>
<section>
  <div style="display: flex; padding: 1rem 0;">
    {% if page.docs %}
    <div style="flex: 50%;">
      <div class="label" style="color: #6E7080;">Documentation</div>
      <ul class="hstack icons">
        {% for item in page.docs %}
        <li>
          {% include links/create.html
            name=item.name
            uid=item.user
            type=item.type %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if page.docs %}
    <div style="flex: 50%;">
      <div class="label" style="color: #6E7080;">Source Code</div>
      <ul class="hstack icons">
        {% for item in page.source %}
        <li>
          {% include links/create.html
            name=item.name
            uid=item.user
            type=item.type %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}

{% include form/trailer.html %}
