---
layout: base
---

{% comment %}
================================================================================
Get information about source code and documentation
================================================================================
{% endcomment %}

{% if page.source %}
  {% assign pypi-pkg = page.source | where: "name", "pypi" | last | map:"user" %}
{% endif %}

{% assign has-links = page.docs or page.source %}

{% comment %}
================================================================================
Get related posts
================================================================================
{% endcomment %}

{% capture posts-html %}
  {% include blog/preview.html tag=page.title layout="magazine" %}
{% endcapture %}
{% assign posts-html = posts-html | strip %}
{% assign has-posts = posts-html != "" %}

{% include front/header.html %}
<div class="banderole">
  <a class="btn btn_grey" href="#about">About</a>
  {% if page.subprojects %}<a class="btn btn_grey" href="#subprojects">Subprojects</a>{% endif %}
  {% if pypi-pkg %}<a class="btn btn_grey" href="#quickstart">Quickstart</a>{% endif %}
  {% if has-posts %}<a class="btn btn_grey" href="#posts">Posts</a>{% endif %}
  {% if has-links %}<a class="btn btn_grey" href="#resources">Resources</a>{% endif %}
</div>
{% include front/trailer.html %}

{% include form/header.html %}
<header>
  <h2>{{ page.title }}{% if page.version %}<small>v{{ page.version }}</small>{% endif %}</h2>
</header>

<header id="about">
  <h4>About</h4>
</header>

<section>
  {{ content }}
  {% if page.license %}
  <p>
    According to <a href="/about#us">our convictions</a> {{ page.title }} is
    <a href="https://fsfe.org/freesoftware/basics/summary.html"
      title="free software" target="_blank" rel="noopener noreferrer">
      free software</a>. It is released under the
    <a href="{{ page.license-url }}"
      title="{{ page.license }}" target="_blank" rel="noopener noreferrer">
      {{ page.license }}</a> and can be downloaded from
    <a href="https://github.com/{{ page.github }}">GitHub</a>.
  </p>
  {% endif %}
</section>

{% if page.subprojects %}
<header id="subprojects">
  <h4>Subprojects</h4>
</header>

{% include projects/preview.html layout="cards" list=page.subprojects %}
{% endif %}

{% if pypi-pkg %}
<header id="quickstart">
  <h4>Quickstart</h4>
</header>

<section>
  <p><b>Installation using PIP</b></p>
  <div class="language-shell highlighter-rouge">
    <div class="highlight">
      <pre class="highlight"><code><span class="nv">$ </span>pip install {{ pypi-pkg }}</code></pre>
    </div>
  </div>
</section>
{% endif %}

{% if has-posts %}
<header id="posts">
  <h4>Posts</h4>
</header>

{{ posts-html }}
{% endif %}

{% if has-links %}
<header id="resources">
  <h4>Resources</h4>
</header>

<section>
  <div style="display: flex; padding: 1rem 0;">
    {% if page.docs %}
    <div style="flex: 50%;">
      <div class="label" style="color: #6E7080;">Documentation</div>
      <ul class="hstack icons">
        {% for item in page.docs %}
        <li>
          {% include links/create.html name=item.name uid=item.user type=item.type %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if page.docs %}
    <div style="flex: 50%;">
      <div class="label" style="color: #6E7080;">Source Code</div>
      <ul class="hstack icons">
        {% for item in page.source %}
        <li>
          {% include links/create.html name=item.name uid=item.user type=item.type %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}

{% include form/trailer.html %}
