---
layout: compress
---

{% include html-header.html %}

{% assign logo = site.url | append: "/images/logos/" | append: page.project | append: ".png" %}
{% assign logo_link = site.url | append: "/" | append: page.project %}
{% assign logo_alt = "Frootlab " | append: page.project | capitalize | append: " Logo" %}
{% assign project = page.project | capitalize %}

<body id="project">

{% include page-header.html %}

<div id="breadcrumb">
  <ul>
    <li class="active"><a href="#">{{ page.project | capitalize }}</a></li>
    <li><a href="{{ site.url }}/projects">Projects</a></li>
    <li class="menu-button"><a onclick="openNav();" title="Menu"><i class="fas fa-bars"></i></a></li>
  </ul>
</div>

<div id="main">
  <div class="block-left" style="
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)),
      url({{ page.background }});">
    <div class="content">
      <div class="main-info">
        <a href="{{ logo_link }}" class="logo">
          <img src="{{ logo }}" alt="{{ logo_alt }}">
        </a>
        <h1><span class="post-title">{{ page.project }}</span></h1>
        <h2><span class="post-subtitle">{{ page.about }}</span></h2>
        {% include page-social-links.html %}
      </div>
      <div class="banderole-angle">
        <div class="columns">
          <div class="column" style="flex: 50%;">
            <i class="fas fa-balance-scale"></i>
            <a href="{{ page.license-url }}" title="{{ page.license }}" style="margin-left: 0.5em;">
              {{ page.license }}
            </a>
          </div>
          <div class="column" style="flex: 50%; text-align: right;">
            Stage: {{ page.status }}
          </div>
        </div>
      </div>
    </div>
    <a id="scroll" href="{{ site.url }}{{ page.url }}#content" class="scroll-down"></a>
  </div>
  <div class="block-right">
    <div class="overflow-box">
      <div id="content" class="content">
        {{ content }}
        <h2>Articles</h2>
        <div class="grid">
          {% for post in site.posts %}
          {% if post.tags contains project %}

          {% if post.preview %}{% assign preview = post.preview %}
          {% elsif post.image %}{% assign preview = post.image %}
          {% else %}{% assign preview = post.image %}
          {% endif %}

          {% assign catid = post.categories | first | downcase %}
          {% if catid == 'corporate' %}{% assign color = 'blue' %}
          {% elsif catid == 'science' %}{% assign color = 'green' %}
          {% elsif catid == 'technology' %}{% assign color = 'red' %}
          {% else %}{% assign color = 'grey' %}
          {% endif %}
          <div class="cell">
            <span class="card-label">{{ post.date | date: '%d %b %Y' }}</span>
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
              <div class="card">
                <div class="ribbon-box">
                  <div class="ribbon-wrapper">
                      <div class="{{ color }}-ribbon">{{ catid }}</div>
                  </div>
                </div>
                <div class="card-image" style="
                  background-image: url({{ site.url }}/{{ preview }});"></div>
                <div class="card-text card-text-{{ color }}">
                  {{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}
                </div>
              </div>
            </a>
          </div>
          {% endif %}
          {% endfor %}
          <div class="cell"></div>
          <div class="cell"></div>
        </div>
      </div>
    </div>
    {% include page-footer.html %}
  </div>
</div>

</body>

{% include html-footer.html %}
